[2020-12-21 23:12] texnixe commented on #1120
You might want to upvote this feature request: https://kirby.nolt.io/169

[2020-12-21 23:14] silllli commented on #1120
Thanks, in fact I think that would be useful.

[2020-12-23 15:32] #1104 closed, assigned to distantnative

[2020-12-30 13:12] #1100 closed, assigned to distantnative

[2020-12-30 13:12] #1095 closed, assigned to distantnative

[2020-12-30 15:18] sebastiangreger opened #1132 "Guide page for hooks"
Unless I overlooked something (checked https://getkirby.com/docs/reference/system/options/hooks , https://getkirby.com/docs/reference/plugins/hooks and the Guide and Cookbook), it appears that the new-ish wildcard hooks are not yet documented apart from the [3.4.0 release notes](https://github.com/getkirby/kirby/releases/tag/3.4.0).

[2020-12-30 15:22] distantnative commented on #1132
They are here
https://getkirby.com/docs/reference/plugins/extensions/hooks#registering-hooks
(a little below where it links)

But agreed, that info is currently too scattered.
I think all the main information should live in https://getkirby.com/docs/reference/system/options/hooks and then https://getkirby.com/docs/reference/plugins/extensions/hooks should only show how to register in a plugin and

[2020-12-30 15:28] lukasbestle commented on #1132
The page [about the hooks option](https://getkirby.com/docs/reference/system/options/hooks) currently links to this page: https://getkirby.com/docs/reference/plugins/hooks for more information. And I think this is where all the information belongs. So IMO we should move most of the docs from https://getkirby.com/docs/reference/plugins/extensions/hooks to https://getkirby.com/docs/reference/plugins

[2021-01-02 16:11] sebastiangreger opened #1135 "$page->panelUrl() not listed in Reference navigation"
Happy New Year, Team Kirby :fireworks:

Function `panelUrl()` is marked as `@internal` [here](https://github.com/getkirby/kirby/blob/0d2751af7cb478df14f30fac47fe9a2cd3b38114/src/Cms/Page.php#L1015) which apparently omits it from being rendered in the Reference navigation tree, while the documentation is indeed accessible at https://getkirby.com/docs/reference/objects/page/panel-url

This is a pret

[2021-01-02 17:45] distantnative commented on #1135
It's there for me, you just have to switch to "advanced" view (that's why it's marked for with `@internal`):

<img width="1358" alt="Screen Shot 2021-01-02 at 18 43 59" src="https://user-images.githubusercontent.com/3788865/103463153-95ac6300-4d2a-11eb-813a-4d72a04f9de3.png">

<img width="1348" alt="Screen Shot 2021-01-02 at 18 44 11" src="https://user-images.githubusercontent.com/3788865/10346315

[2021-01-02 18:02] sebastiangreger commented on #1135
@distantnative Oh my, I completely overlooked that "basic/advanced" switch 🙄 ...as I was already browsing `$page` subpages (the view with two scrollable nav trees on the left).

User error. Thanks for the pointer; glad to see it's there!

[2021-01-02 18:02] #1135 closed, assigned to nobody

[2021-01-02 18:28] distantnative opened #1136 "Remove tippy.js"
Do we need it? Maybe just an extra click to the glossary page is just fine.

[2021-01-02 18:41] distantnative commented on #1004
`(properties: $props)` which checks if it can get the classname out of the current page context. And `(properties: $props class: \Kirby\Http\Uri)` if we need to manually define it.

[2021-01-02 18:47] distantnative commented on #1132
Did we just suggest the same @lukasbestle? Or I don't see the difference in your comment 😆 Before doing it wrong

[2021-01-02 18:48] distantnative commented on #1070
We are currently in the process of refactoring our JS and CSS setups. Once we have that done, we'll take a look at this 👍

[2021-01-02 18:52] distantnative opened #1137 "Documentation for Panel internals: UI Kit, $event bus, $store, $api"

[2021-01-02 18:52] distantnative commented on #928
Closing in favor of bigger project https://github.com/getkirby/getkirby.com/issues/1137

[2021-01-02 18:52] #928 closed, assigned to nobody

[2021-01-02 18:55] distantnative commented on #835
@lukasbestle since you did the EOL PR recently, are these still relevant? I guess so?

[2021-01-02 18:57] #807 closed, assigned to nobody

[2021-01-02 18:57] #804 closed, assigned to nobody

[2021-01-02 18:57] #802 closed, assigned to nobody

[2021-01-02 18:59] #752 closed, assigned to nobody

[2021-01-02 18:59] #690 closed, assigned to nobody

[2021-01-02 21:09] lukasbestle commented on #1004
@distantnative Sounds great!

[2021-01-02 21:11] lukasbestle commented on #1132
@distantnative Not quite. You suggested to put the info on https://getkirby.com/docs/reference/system/options/hooks and I suggested to put it on https://getkirby.com/docs/reference/plugins/hooks. The second is the more general page about hooks, while the first is just a page about one way to register them (and it also already links to the second page).

[2021-01-02 21:13] lukasbestle commented on #835
Yes, I think so, even more now that it's EOL. But only @bastianallgeier has access to the code behind k2.getkirby.com. Maybe we should also update k1.getkirby.com while we're at it.

[2021-01-03 08:25] distantnative commented on #1132
Ah now I got it, thanks. I. An see both. I didn't go for this overview page as I think those won't get any table of contents even when they get longer.

[2021-01-03 10:48] lukasbestle commented on #1132
@distantnative That's a good point. But then we should also move the details from the overview page to the page we decide on. I don't like that the information is so scattered across the reference.

Or maybe we could add a TOC to the overview page? Don't we have a `(toc:)` KirbyTag for that?

[2021-01-04 11:39] distantnative commented on #1132
Maybe it would be good to actually create a guide page for hooks, explaining how they work and can be used. So that the different reference pages really just list all the type of hooks as well as ways to register one. What do you think?

[2021-01-04 11:42] lukasbestle commented on #1132
Good idea! That's much better.

[2021-01-05 13:07] distantnative opened #1147 "Better API endpoints docs"

[2021-01-05 22:12] distantnative opened #1149 "Tag for local video embeds"
Would be needed for finally (!) merging this great recipe: https://github.com/getkirby/getkirby.com/pull/947

[2021-01-13 13:00] bastianallgeier commented on #236
✅

[2021-01-13 20:04] #1136 closed, assigned to nobody

[2021-01-13 20:05] #1081 closed, assigned to distantnative

[2021-01-16 09:31] distantnative opened #1175 "Algolia: JS and PHP results don't match"
<img width="539" alt="Screen Shot 2021-01-16 at 10 31 30" src="https://user-images.githubusercontent.com/3788865/104808378-0a30d880-57e6-11eb-94e0-3a93829635fe.png">

<img width="1162" alt="Screen Shot 2021-01-16 at 10 31 34" src="https://user-images.githubusercontent.com/3788865/104808379-0c933280-57e6-11eb-9918-7fac58efe5ad.png">

[2021-01-16 09:49] distantnative commented on #1175
Source of issue: https://github.com/getkirby/getkirby.com/blob/242d03478e20efd829947a3b5221c91a534488c3/site/controllers/search.php#L18

@bastianallgeier Should we remove it, so that the PHP result page shows the same (fuzzy) results as the JS search?

[2021-01-17 13:09] distantnative commented on #1070
@moevbiz The suggested padding-right fix works good for one-line code blocks. But for many lines where not the firs tone is the longest, it looks very odd that a scrollbar gets added for just scrolling into more black background.

[2021-01-17 14:34] lukasbestle commented on #1175
I think so. It's weird to get different results after pressing <kbd>Enter</kbd>.

[2021-01-19 11:32] #1175 closed, assigned to distantnative

[2021-01-20 20:52] distantnative opened #1187 "[develop] Cachebusting of JS modules"
While the directly called JS and CSS assets get loaded with a `?v=...` query, imports, e.g. JS modules don't get the same treatment. We should investigate if we need further methods to trigger a fresh load from server when an asset file has changed.

[2021-01-20 21:00] distantnative commented on #1187
Most what I find
`ETag` and `max-age`
https://stackoverflow.com/questions/47675549/how-do-i-cache-bust-imported-modules-in-es6/56801858#56801858

Or manually including version numbers in JS module file names.

[2021-01-21 10:39] johannschopplich commented on #1187
Pardon me for jumping on board of this discussion.

Advocating filename-based options, I have tried different solutions over the past year. Laravel Mix with webpack under the hood is just absolute overkill in my opinion. I've migrated to Rollup in between and now happily landed with a simple and straightforward solution:
- Sass files (main entry point and templates) are handled by [dart-sass](http

[2021-01-21 18:35] distantnative commented on #1187
Thanks for chiming in @johannschopplich.
The reality is we are trying to move away completely from a build process. Or let's say almost completely. we have switched our setup to be without a build process or bundling locally. Vanilla CSS, no SASS anymore. JS modules. That's it. And it feels so good.

For remotely, we had to add a little build script on that only minifies JS and concats CSS files i

[2021-01-21 20:53] lukasbestle commented on #1187
We could inject the version hashes of all files that could be loaded from a `<script>` tag in the template. The loader in the frontend could then pick up the the hashes dynamically. We could use quite short hashes for this, but the question is still whether this is viable depending on the number of files that would need to be included in the list.

[2021-01-21 21:28] distantnative commented on #1187
That could be a way, though it feels quite the long stretch (maybe there isn't a cleaner way).

@lukasbestle my knowledge of Etag etc is limited. But could that be an option? It sounds at least as if it could be a "once set up after that really easy" solution - maybe?

[2021-01-21 22:06] johannschopplich commented on #1187
@distantnative Thanks for the explanation. Indeed, that sounds great. Looking forward to explore the new setup.

[2021-01-22 10:27] lukasbestle commented on #1187
@distantnative The issue with `ETag` is that the browser still needs to revalidate the cache all the time, meaning it still needs to make a request and ask if the `ETag` has changed since the last request. This introduces latency that can be avoided with a strict "cache this URL forever" cache policy. I read that `ETag` is not recommended for assets, but more for larger file downloads in API conte

[2021-01-22 10:31] lukasbestle commented on #1187
I think we should also switch from a `?v=...` query string to the version identifier directly in the file path. URLs with query strings are sometimes not cached by browsers at all.

[2021-01-22 11:51] distantnative commented on #1187
@lukasbestle Just trying to find a solution that doesn't lead us down the building process path again and that doesn't overly complicate the actual asset files

[2021-01-22 12:36] lukasbestle commented on #1187
Absolutely.

I think the global list of available files in JSON format inside a `<script>` tag could work well unless we plan to have dozens of modules.

The backend would only need to print the JSON in the template and that would be it.

[2021-01-22 13:51] bastianallgeier commented on #1187
I think this is actually quite critical before we merge the develop branch. Keep in mind that we are hosting JS and CSS files on a CDN. With the next change we will already run into this issue.

I like the idea of a JSON object but we should also check if it doesn't make sense to merge everything back into a single index.js in the build process instead – like with the index.css. This would definit

[2021-01-22 14:12] afbora commented on #1149
@distantnative #1188 ?

[2021-01-22 15:40] lukasbestle commented on #1187
Yep, that would be even better if the resulting JS file would still be small enough and wouldn't contain template-specific code for all templates.

[2021-01-22 15:54] bastianallgeier commented on #1187
We already separate template specific code and to be honest I'm even thinking about inlining template specific JS in the new version.

[2021-01-22 16:56] distantnative commented on #1149
@afbora I think so yes! Maybe you can try to update/fork the PR and put your new tag to work?

[2021-01-22 16:56] #1149 closed, assigned to nobody

[2021-01-22 16:57] distantnative commented on #1187
Wouldn't that duplicate the code of utils etc. used by template JS files and the main JS file?

[2021-01-22 16:58] distantnative commented on #1187
And I guess we have the issue locally kinda too...
so back to build process and bundlers? 🙈🙈🙈

[2021-01-22 17:01] afbora commented on #1149
@distantnative You mean updating the `First stab at a Backups recipe` PR, right?

[2021-01-22 17:05] distantnative commented on #1149
Yes :) It already includes the mp4 files but int he content file only mentions them, e.g. ``backups-07.mp4``

[2021-01-22 17:10] distantnative commented on #1187
I'd prefer @lukasbestle JSON map, honestly. Might look a bit stupid in code but better than down the bundler hole again

Something like

[code]

[code]

I think that could be done if the small build step just adds in a version identifier when minimizing the JS.

[2021-01-22 20:13] lukasbestle commented on #1187
The template JS files could access the global utils. Or if we inline everything in the production build, it doesn't really matter.

If we only do it in production and not locally, I'd say it's fine. We need to minify the files anyway, so we might as well bundle them.

[2021-01-22 20:27] distantnative commented on #1187
Bundlers don't recognize the current optional component module loading setup... ugh.
And increasing the load also for pages that don't require all omponents, e.g. code highlighting.
This really feels like so many steps backwards.

The thing is, minifying is quite straight forward and low tech. Add bundlers and the world starts to burn 😰

[2021-01-22 21:02] lukasbestle commented on #1187
True. :)

[2021-01-23 09:59] Daandelange opened #1191 "root('logs') is documented as root('log')"
**Describe the bug**
The logs root has been introduced [here](https://kirby.nolt.io/122) but I think [the documentation](https://getkirby.com/docs/reference/system/roots/log) is wrong, the `s` is missing.
In [`kirby/config/roots.php`](https://github.com/getkirby/kirby/blob/551e2f427eaf18e471df1c304552ab3de35e37c6/config/roots.php#L70-L72) there is an `s` anyways.

**To Reproduce**
- Call `kirby()-

[2021-01-23 10:35] eXpl0it3r opened #1192 "Options: explain dot notation for accessing nested arrays"
My intuition said, that this may be possible, so I tried it out and it seems to have worked, but I think it would be better, if the guide actually had an example of this.

Page & section in question: https://getkirby.com/docs/guide/configuration#using-options

config.php
[code]

template/controller
[code]

As a side note: It would also be very useful if the API function showed the usage and/or pro

[2021-01-23 11:34] #1191 closed, assigned to nobody

[2021-01-23 11:43] afbora commented on #1191
@Daandelange Thanks for report, new document page: https://getkirby.com/docs/reference/system/roots/logs

[2021-01-23 12:05] Daandelange commented on #1191
Awesome ! (sorry for posting in the wrong repo)

[2021-01-23 18:57] moevbiz commented on #1070
You're right. Maybe it would make sense to add this only to one-liners, since a block with many lines in most cases begins with something like `<?php` – not an overflow right in the first line.

[2021-01-27 20:19] afbora commented on #1489
@returnmk You can set a prefix as a workaround.

[code]

[2021-01-30 17:46] hannesherold opened #1200 "Docs: comma commented out"
See the docs: reference/auth/email-options
https://getkirby.com/docs/reference/system/options/auth#authentication-challenges__email-options

There's a tiny mistake in the code example, line 7:

`'timeout' => 5 * 60 // 5 minutes,`

The comma is commented out.
It should rather be:

`'timeout' => 5 * 60, // 5 minutes`

[2021-01-31 02:41] bvrp opened #1202 "Docs: reference to non existent object (blog cookbook)"
https://getkirby.com/docs/cookbook/text/dates

Above cookbook page references an object that does not exist anymore- "$page->published()->toDate"

[2021-01-31 02:45] #1202 closed, assigned to nobody

[2021-01-31 02:46] bvrp commented on #1202
article apparently was referencing a field name that was too close to object name

[2021-01-31 10:16] #1200 closed, assigned to nobody

[2021-01-31 13:06] texnixe opened #1204 "Implement blockquote styles"

[2021-02-12 19:24] #1187 closed, assigned to nobody

[2021-02-17 19:59] sylvainjule opened #1217 "Errors in login methods template"
I'd have PRed the emendations, but not sure how updating my whole fork would interfere on the other PR it's linked to, so I'm just mentioning them here. On this page:

https://getkirby.com/docs/guide/authentication/login-methods

The template examples  are in "i18n format" and won't work, `{user.nameOrEmail}` is rather `<?= $user->nameOrEmail() ?>`, and so on.

[2021-02-17 20:10] #1217 closed, assigned to nobody

[2021-02-17 20:11] lukasbestle commented on #1217
Thanks for spotting! I think we added it like this on purpose back then (before the 3.5 release), but in the docs it makes a lot more sense to provide the examples so that they can be copied to custom templates straight away.

[2021-02-19 15:36] sebastiangreger opened #1218 "Missing plugin in directory: kirby-embed"
https://github.com/sylvainjule/kirby-embed

[2021-02-19 21:13] #1218 closed, assigned to nobody

[2021-02-20 14:35] distantnative opened #1222 "Properly annotate @deprecated"
Class names need to be wrapped by `

[2021-02-21 12:03] distantnative opened #1223 "Wrong return types for classes inheriting Kirby\Toolkit\Collection"
In many places in `Kirby\Toolkit\Collection` we have defined the return type as `Kirby\Toolkit\Collection` while it should `self`. Because of that e.g. `$pages->map()` shows `Kirby\Toolkit\Collection` as return type but should show `Kirby\Cms\Pages`

[2021-02-21 12:10] distantnative commented on #1223
@lukasbestle Need your knowledge here.

If I read https://docs.phpdoc.org/3.0/guide/guides/types.html correctly we should actually change a lot

- `self` when we mean the class where the method was defined
- `static` when we mean the class where the method is called on
- `$this` when we mean the actual instance

Do you understand it that way was well? Would we run in conflict with conventions Psal

[2021-02-21 13:00] distantnative commented on #1032
@janstieler I guess this separates into two things:
- Mentioning the alias on the field method page itself (I think we can do that)
- Making these searchable (not as trivial)
  - would it be more helpful to bring up the main name (`toBool`) in the search
  - or should both appear as results and then lead to the same page?

[2021-02-21 13:14] distantnative opened #1224 "Unify field names"
It would help our code base if we could unify the content field names, mainly `excerpt`, `intro` and `description`.
Really no priority but maybe a lazy project.

[2021-02-21 13:52] lukasbestle commented on #1223
@distantnative I agree, in most places we should probably use `$this` as we often return the same instance. `static` would make sense for all methods that return a new instance using `new static()` and `self` would be reserved for the few cases that actually only ever return a specific class instance.

As far as I know, Psalm will understand all these variants as they are meant.

[2021-02-21 13:54] distantnative commented on #1223
Ok, I will give it a go. Thanks!

[2021-02-21 14:20] distantnative commented on #1223
@lukasbestle couldn't this also help us to automatically determine what methods are immutable (returning `$this` vs. `static`/`self`)?

[2021-02-21 14:44] lukasbestle commented on #1223
Yes, that would be a nice side-effect actually.

[2021-02-21 15:40] distantnative commented on #834
Will be fixed by https://github.com/getkirby/getkirby.com/pull/1225

[2021-02-21 15:40] #834 closed, assigned to distantnative

[2021-02-21 15:44] distantnative commented on #759
Once https://github.com/getkirby/kirby/pull/3167 is merged and released, we could automate this check:

Return type
- `$this` = mutuable
- `static` or `self` = immutable

By no, I think a glass would be too little for users to understand. This probably needs to be a dynamically added text paragraph/section explaining what immutable also means and how to deal with it.

To discuss: how do we treat m

[2021-02-21 15:47] distantnative commented on #1147
Closing this until we have a more actionable idea

[2021-02-21 15:47] #1147 closed, assigned to nobody

[2021-02-21 15:47] distantnative commented on #1137
Closing this until we have a more actionable idea

[2021-02-21 15:47] #1137 closed, assigned to nobody

[2021-02-21 15:48] distantnative commented on #1070
We'll have a solution for this soon

[2021-02-21 15:48] #1070 closed, assigned to nobody

[2021-02-21 15:50] distantnative commented on #943
We're using different cache types locally vs. online. Maybe that's related?

[2021-02-21 15:53] distantnative commented on #943
I would assume that this line is the origin:
https://github.com/getkirby/getkirby.com/blob/master/site/models/plugin.php#L17

Just using the `slug` is probably the cause. Instead we might use `id()`, @bastianallgeier?

[2021-02-21 15:57] distantnative commented on #801
Closing this until we have a more actionable idea

[2021-02-21 15:57] #801 closed, assigned to nobody

[2021-02-21 15:58] distantnative commented on #823
Closing this until we have a more actionable idea

[2021-02-21 15:58] #823 closed, assigned to nobody

[2021-02-21 15:58] distantnative commented on #820
Closing this until we have a more actionable idea

[2021-02-21 15:58] #820 closed, assigned to nobody

[2021-02-21 15:59] distantnative commented on #812
Closing this until we have a more actionable idea

[2021-02-21 15:59] #812 closed, assigned to nobody

[2021-02-21 15:59] distantnative commented on #805
Closing this until we have a more actionable idea

[2021-02-21 15:59] #805 closed, assigned to nobody

[2021-02-21 15:59] distantnative commented on #806
Closing this until we have a more actionable idea

[2021-02-21 15:59] #806 closed, assigned to nobody

[2021-02-21 15:59] distantnative commented on #824
Closing this until we have a more actionable idea

[2021-02-21 15:59] #824 closed, assigned to nobody

[2021-02-21 16:01] distantnative commented on #895
That will be solved soon

[2021-02-21 16:01] #895 closed, assigned to nobody

[2021-02-21 16:47] lukasbestle commented on #759
We could use the type hint `$this|static` for that. In this case, we'd need a manual text for what it means that would be printed instead of the auto-generated mutability info box.

[2021-02-21 17:30] distantnative commented on #943
Yep, I think this solved it.

[2021-02-21 17:30] #943 closed, assigned to bastianallgeier

[2021-02-21 21:35] distantnative opened #1228 "Plugins: support branches not called `master`"
for download links

[2021-02-22 09:10] bastianallgeier commented on #1228
I think we should introduce a new field to determine the right branch.

[2021-02-22 09:10] bastianallgeier commented on #1228
Or link to releases instead.

[2021-02-22 09:31] lukasbestle commented on #1228
At least for GitHub we can use this link format for a ZIP download of the default branch, whatever that is configured to: https://docs.github.com/en/rest/reference/repos#download-a-repository-archive-zip

[2021-02-22 11:14] #1004 closed, assigned to distantnative

[2021-02-27 09:14] johannschopplich opened #1230 "Blocks: outdated snippets and blueprints"
Each block's source (snippet and blueprint) is pasted manually into the content file. For example: [1_docs/3_reference/3_panel/5_blocks/4_image/reference-article.txt](https://github.com/getkirby/getkirby.com/blob/master/content/1_docs/3_reference/3_panel/5_blocks/4_image/reference-article.txt)

A lot of the default source code is outdated already, e.g. the image block has been updated lately.

Wou

[2021-02-27 09:30] distantnative opened #1231 "Version-specific docs"
@lukasbestle

Thought I start this issue as a place to collect thoughts

- select dropdown for versions (major? All minor?). Sets session. Default without session is current version.
- new <version from="" to=""> tag to display/hide docs sections based on the selected version
- everything we generate automatically from parsing files and reflections, we would need to generate and store for each ver

[2021-02-27 22:05] distantnative opened #1233 "Add template engine plugins to /docs/reference/plugins/components/template"
A link or something

[2021-03-01 12:29] demlak opened #1234 "Sort plugins by update and by date added"
hey… just an idea for `https://getkirby.com/plugins`
it would be nice to have a sorting mechanism by `date-added` and by `last updated`.

whatabout a dedicated rss-feed or posting changes to twitter or so? =)
thx

[2021-03-01 19:31] lukasbestle commented on #1231
I'd say the latest minor version for each major version. Sometimes we add features in minor versions that get their own `<since>` blocks, so they should definitely be respected. But given that we don't have breaking-changes in minor versions, we can expect users to always use the latest minor version of that major version. Offering every single version will IMO make it all too complex and confusin

[2021-03-08 16:34] sebastiangreger opened #1241 "Missing plugin in directory: kirby3-forms"
Mentioned in Discord: https://github.com/HashandSalt/kirby3-forms

[2021-03-09 09:02] bastianallgeier commented on #1241
✅

[2021-03-09 09:02] #1241 closed, assigned to nobody

[2021-03-17 12:09] yandodov opened #1247 "Tabs with settings for layouts not documented"
[In the docs](https://getkirby.com/docs/reference/panel/fields/blocks#extending-core-blocks__adding-tabs), you can see that tabs can be used for **block** settings:

I just tested it and you can use tabs in _layout_ settings as well:

[code]

I needed layout tabs instead of block tabs, so it would be useful to add it in the docs. I was about to make a suggestion in Nolt, but decided to try it out

[2021-04-07 13:04] distantnative opened #1257 "Update Showcases"

[2021-04-07 13:18] distantnative opened #1258 "Refactor & clean-up site KirbyTags"

[2021-04-07 13:48] #1223 closed, assigned to distantnative

[2021-04-07 13:48] distantnative commented on #1223
✅ Will be solved when new Kirby version is released.

[2021-04-07 13:49] distantnative commented on #1222
✅

[2021-04-07 13:49] #1222 closed, assigned to distantnative

[2021-04-07 14:02] distantnative commented on #814
Revisit/reopen when tackling plugin section as feature

[2021-04-07 14:02] #814 closed, assigned to nobody

[2021-04-07 14:03] distantnative commented on #815
Revisit/reopen when tackling plugin section as feature

[2021-04-07 14:03] #815 closed, assigned to nobody

[2021-04-07 14:04] distantnative commented on #816
Revisit/reopen when tackling plugin section as feature

[2021-04-07 14:04] #816 closed, assigned to nobody

[2021-04-07 14:04] distantnative commented on #817
Revisit/reopen when tackling plugin section as feature

[2021-04-07 14:04] #817 closed, assigned to nobody

[2021-04-07 14:05] distantnative commented on #825
Revisit/reopen when tackling cookbook as separate feature

[2021-04-07 14:05] #825 closed, assigned to nobody

[2021-04-07 14:05] distantnative commented on #826
Revisit/reopen when tackling cookbook as separate feature

[2021-04-07 14:05] #826 closed, assigned to nobody

[2021-04-07 14:05] distantnative commented on #827
Revisit/reopen when tackling cookbook as separate feature

[2021-04-07 14:05] #827 closed, assigned to nobody

[2021-04-07 14:08] distantnative commented on #840
Revisit/reopen when tackling plugin section as feature

[2021-04-07 14:08] #840 closed, assigned to nobody

[2021-04-07 14:31] distantnative commented on #1055
We can realize this through https://github.com/getkirby/getkirby.com/issues/1231

[2021-04-07 14:31] #1055 closed, assigned to distantnative

[2021-04-08 16:18] moritzebeling commented on #798
Very nice idea! But: That also could mean that the best results get a penalty, when you’re not on the right place in the website. Instead maybe the search results could show a tag or category, e.g. `guide`, `docs`, `plugin`, ... so it is easier for users to contextualize the results

[2021-04-10 09:22] distantnative opened #1260 "Add link to buy license to "Get up and running" guide"

[2021-04-10 12:08] #997 closed, assigned to distantnative

[2021-04-10 18:11] distantnative opened #1262 "Automatically link to Reference for class methods"

[2021-04-12 11:35] #1230 closed, assigned to distantnative

[2021-04-12 12:29] fritzlaszlo opened #1263 "Typo in Docu?"
heya,

not sure how currently the reference documentation is generated, so I am opening an issue for this little error:

the default code snippet for the panel/blocks/text is missing an end:
[https://getkirby.com/docs/reference/panel/blocks/text](https://getkirby.com/docs/reference/panel/blocks/text)

[2021-04-12 12:31] distantnative commented on #1263
Not really, if you look at the file https://github.com/getkirby/kirby/blob/master/config/blocks/text/text.php it is how it ends.
Since the file is ending, the closing `?>` has been omitted/isn't necessary.

[2021-04-12 20:09] lukasbestle opened #1265 "kirbycontent code block: Use backslash escaping for field separator"
Our content styleguide currently explains that you should indent `kirbycontent` code blocks to prevent the field separators from being parsed.

Kirby supports `\----` escaping for a while now, so I think we can switch all existing blocks to that and then explain the escaping in the content styleguide. This reduces the implementation complexity.

I'm opening the issue here to tackle it after the la

[2021-04-13 07:52] lukasbestle commented on #1263
We have omitted the end tag to avoid additional whitespace output that could cause issues down the road.

For the snippet it's not that critical, but in general it is, which is why our coding style analyzer would flag the end tag as incorrect.

[2021-04-13 07:52] #1263 closed, assigned to nobody

[2021-04-14 19:11] bastianallgeier commented on #882
✅

[2021-04-14 19:11] #882 closed, assigned to distantnative

[2021-04-14 19:12] #855 closed, assigned to distantnative

[2021-04-14 19:14] #794 closed, assigned to nobody

[2021-04-14 19:14] #798 closed, assigned to distantnative

[2021-04-14 19:14] bastianallgeier commented on #1257
✅

[2021-04-14 19:14] #1257 closed, assigned to nobody

[2021-04-14 19:15] #1204 closed, assigned to distantnative

[2021-04-14 19:17] bastianallgeier commented on #1016
✅

[2021-04-14 19:17] #1016 closed, assigned to distantnative

[2021-04-14 19:18] distantnative commented on #1224
@bastianallgeier this should still be done

[2021-04-14 19:18] distantnative commented on #794
@bastianallgeier don't we wanna do this at some point?

[2021-04-14 19:21] bastianallgeier commented on #794
The more I work with them the more I hate sticky elements. There are some places where they make sense (i.e. the new home page) but in general they introduce so much trouble. I just recently read a good rant about sticky on Twitter. It's often already difficult for "regular" browsing, but it also introduces a massive accessibility issue when you need to zoom in.

[2021-04-14 19:23] bastianallgeier commented on #1224
I thought we already eliminated most places. Ok, then let's keep it open :)

[2021-04-14 19:24] distantnative commented on #794
I think you could argue the same for only having a TOC on top but not throughout the page when reading the content. I get that sticky is quite tricky. But I don't think the current way is ideal either.

[2021-04-14 19:40] #666 closed, assigned to distantnative

[2021-04-14 19:40] #1032 closed, assigned to distantnative

[2021-04-14 19:40] #1045 closed, assigned to distantnative

[2021-04-14 19:40] #1048 closed, assigned to distantnative

[2021-04-14 19:40] #759 closed, assigned to distantnative

[2021-04-14 21:15] #1258 closed, assigned to distantnative

[2021-04-15 07:43] #1265 closed, assigned to distantnative

[2021-04-15 11:41] distantnative commented on #1224
we are currently using `excerpt` a lot in the Reference, `intro` a lot in guide and other pages, `description` in some other places and for meta.

I feel like this should all be one, shouldn't it?

[2021-04-15 12:05] bastianallgeier commented on #1224
Excerpt and intro yes! Description should be used for the meta tag only.

[2021-04-15 20:00] distantnative opened #1274 "CMD+- brings up search bar"
Tested on macOS 11.2.2 with Firefox/Chrome/Safari

[2021-04-15 20:01] distantnative opened #1275 "`For developers`: Template switcher has no dropdown arrow or similar on iOS Safari"

[2021-04-15 20:02] distantnative opened #1276 "Fix SVG with Imagick for OG images"

[2021-04-15 20:03] distantnative opened #1277 "Custom social media images for main pages"

[2021-04-15 20:04] distantnative opened #1279 "Better mobile menu for cookbook, guide"
Currently menu is below all other content

[2021-04-15 20:05] distantnative opened #1280 "`home`: CTA buttons"
To
- Online demo
- Guide

[2021-04-15 20:09] distantnative commented on #1274
@texnixe  what's your keyboard layout? German QWERTZ?

[2021-04-15 20:11] distantnative opened #1281 "Add support for automatic `$props` to more pages"

[2021-04-15 20:11] afbora commented on #1274
Might help: https://keycode.info/

[2021-04-15 20:14] distantnative opened #1282 "Broken search loading indicator"
[code]

[2021-04-15 20:15] distantnative opened #1283 "Bring back JS modules (instead of single file)"

[2021-04-15 20:16] lukasbestle opened #1284 "Search page: Auto-submit form onclick of the radio buttons"
If the search area is changed by selecting a different radio button on the search page, the search results are only refreshed when the form is submitted. I think the form should auto-submit once the value of the radio input changes.

[2021-04-15 20:24] afbora opened #1285 "Search results are not correct"
For example, search `bora`, you'll see difference between each area and all results.

https://getkirby.com/search?q=bora&area=all

[2021-04-15 20:29] distantnative opened #1287 "Fix .htaccess to be used with Valet locally"

[2021-04-15 20:35] distantnative opened #1288 "Screencasts: embed gets overlaid by text column"
Starts sliding below text on narrow windows:

<img width="696" alt="Screen Shot 2021-04-15 at 22 34 21" src="https://user-images.githubusercontent.com/3788865/114934913-d4c67600-9e3a-11eb-8108-22cdbacc9628.png">

[2021-04-15 20:38] distantnative opened #1289 "Disable accessibility on `playground-browser`"
Somehow the `aria-hidden`/`role=presentation` got lost again, which is why it's throwing an accessibility warning for this element (while it should actually be ignored).

[2021-04-15 20:49] distantnative opened #1290 "`banner` config: remove `enabled`"
@lukasbestle @afbora couldn't we remove the `enabled` key and just base it on the start and end dates?

[2021-04-15 20:51] distantnative opened #1291 "Sales banner throughout the site"
Shouldn't we show it throughout the side (maybe not Reference) and not just on home?

With the automatic dates, this could be a caching problem.
But isn't that already on home?

[2021-04-15 20:59] distantnative opened #1292 "Show ongoing sale on `buy` page"
To make also clear that the currently displayed price isn't the regular price. Avoiding bad surprises if someone saw the price the first time during a sale, didn't realise it and comes back after the sale.

[2021-04-15 21:15] distantnative opened #1294 "Set up `develop` branch, deploying to staging"
So we can test e.g. CDN changes before deploying to live.

[2021-04-15 21:41] distantnative opened #1295 "`playground`: API on mobile with too large spacing"
Lines are still spaced out unnecessarily large, I'd say

![image](https://user-images.githubusercontent.com/3788865/114941949-190a4400-9e44-11eb-9078-dab6cb76f814.jpeg)

[2021-04-16 05:11] ralfgoeke commented on #1274
I can confirm this bug with a German QWERTZ layout (MacBook Pro).

[2021-04-16 06:01] distantnative commented on #1274
@texnixe @ralfgoeke could you please use the tool Ahmet posted and let me know what the different even variables values are?

[2021-04-16 06:11] lukasbestle commented on #1287
My Caddy setup doesn't support .htaccess at all, so I'd be grateful for a solution that supports a Kirby routing fallback.

[2021-04-16 06:13] lukasbestle opened #1296 "Sale banner: Automatic cache flushing"
I think we can solve this by giving the homepage an automatic cache expiry date based on the configured dates.

[2021-04-16 06:15] lukasbestle commented on #1291
Regarding caching see #1296.

[2021-04-16 06:23] distantnative opened #1297 "Sales banner missing on mobile"

[2021-04-16 06:58] ralfgoeke commented on #1274
**command**
event.key: Meta
event.location: 1
event.which: 91
event.code: MetaLeft

**minus**
event.key: -
event.location: 0
event.which: 189
event.code: Slash

[2021-04-16 09:10] texnixe commented on #1274
minus
event.key: -
event.location: 0
event.which: 173
event.code: Slash

Command
event.key: Meta
event.location: 1
event.which: 224
event.code: OSLeft

[2021-04-16 09:33] lukasbestle opened #1298 "Docs for 3.5.5"
✅ = Documented on the `release/3.5.5` branch

| ✅ | Issue/Feature | Related PR | Assignees | Documenting Commit |
| :-- | :--| :-- | :-- | :-- |
|  | Configurable menu entry for views | https://github.com/getkirby/kirby/pull/3206 | @lukasbestle |  |
|  | Cache (expiry) in `$kirby->response()` | https://github.com/getkirby/kirby/pull/3246 https://github.com/getkirby/kirby/pull/3292 | @lukasbestle

[2021-04-16 09:49] afbora commented on #1285
From discord, might be related:

(https://getkirby.com/docs/reference/panel/icons)

[2021-04-16 10:11] bastianallgeier commented on #1288
I don't think we can fix this at all tbh.

[2021-04-16 10:13] bastianallgeier commented on #1291
I think it's annoying to have it everywhere. We'd at least need a way to close it and then not show it again, but this would bring us back into cookie and flicker land.

[2021-04-16 10:14] bastianallgeier commented on #1297
That's intended. I didn't find a good position for it in the menu.

[2021-04-16 10:14] bastianallgeier commented on #1297
If you have a good idea, let me know :)

[2021-04-16 10:20] distantnative commented on #1288
I think we can mitigate it a bit more by earlier switching from columns to rows. Maybe even hiding the normal paragraph at a certain size to reserve the space for the headline.

But yes we won't fully avoid it

[2021-04-16 10:22] distantnative commented on #1291
We just shouldn't think that most people will enter our website through home. But a link to the guide or so.

I honestly don't feel like that little banner (which isn't fixed even) would be as intrusive that you need to make it hidable.

[2021-04-16 10:28] bastianallgeier commented on #1291
You might be right. The "shy marketing mind" is speaking over here again 🤣

[2021-04-16 10:28] lukasbestle commented on #1291
I agree with Nico. Most people will land on a cookbook article that's linked from somewhere or they navigate through some guide pages someone sent them. I think the new styling is pretty unobtrusive.

From the technical side it's going to be very easy, I already have a new version almost ready. ETA tonight. :)

[2021-04-16 10:29] distantnative commented on #1297
I thought so. But reading the tweet about a sale and not finding it anywhere on the site was confusing.

How about we just add it as little one-liner above the main headline? Sale should grab the attention during this short time

![image](https://user-images.githubusercontent.com/3788865/115011780-535cfb00-9eaf-11eb-863d-28060f3b06f9.jpeg)

[2021-04-16 13:19] #1294 closed, assigned to nobody

[2021-04-16 13:20] #1287 closed, assigned to nobody

[2021-04-16 16:42] bastianallgeier commented on #1289
It should have a role=img

[2021-04-16 16:45] distantnative commented on #1289
Seems like this isn't sufficient:
<img width="757" alt="Screen Shot 2021-04-16 at 18 45 03" src="https://user-images.githubusercontent.com/3788865/115057066-e152d900-9ee3-11eb-8e74-e4954c90b009.png">

[2021-04-16 17:11] distantnative opened #1300 "TOC should ignore headline of screencast tag"

[2021-04-16 17:57] #1282 closed, assigned to nobody

[2021-04-16 18:06] #1300 closed, assigned to nobody

[2021-04-16 20:58] #1284 closed, assigned to distantnative

[2021-04-17 08:36] distantnative commented on #1292
@bastianallgeier I think we would need to use the new Api https://developer.paddle.com/api-reference/checkout-api/prices/getprices with authentication to get the list price vs. current price, identifying a sale

[2021-04-17 08:37] distantnative commented on #1290
@lukasbestle your PR solves this as well, so I have edited the PR message as well to include this issue

[2021-04-17 08:39] distantnative commented on #1274
@afbora I think we have added the second part of `e.key === "/" || e.code === "Slash"` because of your experience (I think for you just checking `e.key` wasn't sufficient). So could you please also post the info you get for `/` as well as for `-`?

[2021-04-17 09:23] lukasbestle commented on #1292
I just tried it out, it doesn't need authentication, so it can be called from the frontend with a simple `GET` request to https://checkout.paddle.com/api/2.0/prices?product_ids=499826.

[2021-04-17 09:27] lukasbestle commented on #1292
But since we already include the Paddle library in the frontend, isn't it possible to somehow tell Paddle to use the v2.0 API for the call?

[2021-04-17 09:51] hannesherold opened #1306 "Reference: main column gets too narrow on desktop layout"
The main column of the three columns layout in "reference" becomes very narrow between some breakpoints. Readability and especially the “properties” table suffers from this. The table must then be scrolled horizontically.

Also, inside the table again only the right colum adapts. As this column holds text blocks, lines become very short.

It occurs between quite common screen widths of 960px and 1

[2021-04-17 09:53] distantnative commented on #1292
Oh nice, somehow I tried it but kept failing, thought it'd be due to auth.

I haven't figured out if/how. As is, the library returns less data (only current, not list price).

[2021-04-17 10:02] afbora commented on #1274
### For search

Slash Numpad
[code]

Slash Alternative
[code]

### For zoom (CTRL +/-)

CTRL
[code]

Plus
[code]

Minus
[code]

[2021-04-17 10:04] distantnative commented on #1274
Which key is `Slash Alternative`?

[2021-04-17 10:05] afbora commented on #1274
`:` :)

[2021-04-17 10:09] afbora commented on #1274
I guess issue about line that `(e.target === document.body && withSlash)`, right?

[2021-04-17 10:13] distantnative commented on #1274
It's this one: https://github.com/getkirby/getkirby.com/blob/main/assets/js/components/search.js#L41
`e.code === "Slash"` is triggered for the others when using `Ctrl` and `-`.

But I think we can just get rid of it. You regular slash also matches `e.key === "/"` - so we might just go with that one.

@sonja @ralfgoeke can you confirm, that slash results in `e.key === "/"` for you too?

[2021-04-17 10:14] afbora commented on #1274
What about if we exclude minus?

[code]

[2021-04-17 10:19] distantnative commented on #1274
But do we actually need `e.code === "Slash"`?

[2021-04-17 10:28] afbora commented on #1274
Actually, it looks like there is no need. We can add it again according to feedback from users.

[2021-04-17 11:10] lukasbestle commented on #1292
It looks like the Paddle API doesn't implement CORS, so we need JSONP:

[code]

[2021-04-17 11:11] lukasbestle commented on #1292
I think we should include this in the HTML before the other Paddle JS stuff so it's loaded as soon as possible.

[2021-04-17 12:56] distantnative commented on #1292
That works well.

What do you think?
<img width="1430" alt="Screen Shot 2021-04-17 at 14 56 38" src="https://user-images.githubusercontent.com/3788865/115113954-21ba6180-9f8d-11eb-9ca9-f17a931e5ac7.png">

[2021-04-17 13:11] lukasbestle commented on #1292
I think the text in the line with the price shouldn't go beyond the first column of the box on larger screens, it looks a bit unbalanced. Maybe we can put the list price into the line above ("On Sale") somehow?

Also IMO the yellow strikethrough isn't very visible.

[2021-04-17 13:13] distantnative commented on #1292
Fighting the currency first. The new API returns three-letter codes, no symbols. So for most currencies it would extend the column anyways. Also we won't avoid the flow into the second columns anyways if we don't remove `per site` as well - which we shouldn't, I think.

[2021-04-17 13:25] lukasbestle commented on #1292
I don't think we need to prevent the text from being longer than one column, but I think we shouldn't make it any longer. I'm not a huge fan of the two prices with one crossed out in the same line.

Regarding the currencies: We can use this to make the browser format the currency automatically:

[code]

[2021-04-17 13:27] distantnative commented on #1292
<img width="1368" alt="Screen Shot 2021-04-17 at 15 26 33" src="https://user-images.githubusercontent.com/3788865/115114779-54feef80-9f91-11eb-89df-78e7413044dc.png">

[2021-04-17 13:29] distantnative commented on #1292
@lukasbestle `Intl.NumberFormat` is great!

[2021-04-17 13:29] lukasbestle commented on #1292
I think that's quite good already. Now that I look at it again: I'm not 100 % sure about the contrast of the yellow text.
@bastianallgeier What do you think about the styling?

[2021-04-17 13:34] distantnative commented on #1292
Let's say it works for some countries better than others 🤣🇦🇷

<img width="1318" alt="Screen Shot 2021-04-17 at 15 33 40" src="https://user-images.githubusercontent.com/3788865/115114995-5977d800-9f92-11eb-8da6-55545d8f0401.png">

Sidenote: Sad to see this currency and the country so destroyed... when I lived there it was about 10 peso per euro... now it's more than 100 😢

[2021-04-17 13:42] #1288 closed, assigned to distantnative

[2021-04-17 13:45] lukasbestle commented on #1292
OMG, that's crazy. At least not as bad as 42,926.34 ZWD (Zimbabwe dollar), but both of them are prices my brain can't even parse.

[2021-04-17 13:45] distantnative commented on #822
✅

[2021-04-17 13:45] #822 closed, assigned to distantnative

[2021-04-17 13:47] distantnative commented on #1292
Good thing Colombian peso aren't supported: 428,642.58

[2021-04-17 15:21] #1281 closed, assigned to distantnative

[2021-04-17 18:04] distantnative commented on #1283
✅

[2021-04-17 18:04] #1283 closed, assigned to nobody

[2021-04-17 18:15] distantnative commented on #1260
✅

[2021-04-17 18:15] #1260 closed, assigned to nobody

[2021-04-17 18:48] #1233 closed, assigned to nobody

[2021-04-17 18:50] distantnative opened #1312 "Integrate screencasts into cookbook recipes"
However, we might have to align the recipes first, so they match the videos

[2021-04-17 19:01] distantnative commented on #995
✅

[2021-04-17 19:01] #995 closed, assigned to distantnative

[2021-04-18 07:08] ralfgoeke commented on #1274
@distantnative yep, slash is e.key === "/"

[2021-04-18 08:54] #1228 closed, assigned to distantnative

[2021-04-18 09:03] #1224 closed, assigned to distantnative

[2021-04-18 09:10] #1274 closed, assigned to distantnative

[2021-04-18 12:15] distantnative opened #1316 "Add case for Klimaliste"
https://www.klimaliste-berlin.de

(and add it to causes)

[2021-04-18 12:21] #1295 closed, assigned to nobody

[2021-04-18 20:13] lukasbestle opened #1321 "Escape content fields in templates/snippets"
See https://github.com/getkirby/getkirby.com/pull/1319#issuecomment-822046732.

[2021-04-19 09:50] distantnative opened #1322 "OG image throws error"
https://getkirby.com/features/developers/opengraph.png

[2021-04-19 10:01] distantnative commented on #1322
Works for me locally - maybe another server issue with image generation.

Does it work for any of you locally, team?

[2021-04-19 13:26] distantnative opened #1323 "Reference sidebar"
Larger clickable areas

[2021-04-19 17:46] lukasbestle commented on #1322
Locally I get:

[code]

I think the missing extension is the most probable cause on the server as well.

[2021-04-19 17:48] #1323 closed, assigned to distantnative

[2021-04-20 08:12] bastianallgeier commented on #1322
It's the missing SVG module: https://staging.getkirby.com/features/developers/opengraph.png
It's weird though that my code to skip SVGs does not work.

[2021-04-20 08:16] distantnative commented on #1322
I think probably for the same reason that I went for this weird strpos if Statement and not F::extension

[2021-04-20 08:40] distantnative commented on #1322
My guess: the url helper adds the ?v= cache busting on it and F::extension fails with that?

[2021-04-20 08:45] bastianallgeier commented on #1322
Ahhh, yep. That could be an issue. I will check again.

[2021-04-20 09:36] bastianallgeier commented on #1306
✅

[2021-04-20 09:36] #1306 closed, assigned to distantnative

[2021-04-20 09:42] #1262 closed, assigned to distantnative

[2021-04-20 09:42] bastianallgeier commented on #1262
✅

[2021-04-20 09:58] bastianallgeier commented on #1289
Maybe we can ask @sebastiangreger about his opinion. I don't see how we could improve this any more. The headline is meant to be a part of a visual and not to be read out loud. We already mark it properly as far as I could find out in the HTML. I just don't know how to ignore the contrast issue. If this was an actual img with the same contrast issues, lighthouse would accept it.

[2021-04-20 10:11] hannesherold commented on #1306
NIce! Thank you.

[2021-04-20 10:25] bastianallgeier commented on #1316
✅

[2021-04-20 10:25] #1316 closed, assigned to nobody

[2021-04-20 10:25] distantnative opened #1326 "Reference: some sidebar titles missing"
arg..

<img width="180" alt="Screen Shot 2021-04-20 at 12 24 36" src="https://user-images.githubusercontent.com/3788865/115381009-718a6a00-a1d3-11eb-8b2c-3367f308824f.png">

[2021-04-20 10:40] distantnative commented on #1326
✅

[2021-04-20 10:40] #1326 closed, assigned to distantnative

[2021-04-20 11:16] bastianallgeier commented on #605
✅  https://getkirby.com/kosmos.rss

[2021-04-20 11:16] #605 closed, assigned to nobody

[2021-04-20 12:56] sebastiangreger commented on #1289
Always happy to nerd out over some delicious semantics :wink:

I don't have experience with this particular context of a figure consisting of HTML elements, but my hunch is that `role="img"` is the culprit here.

Lighthouse checking all elements within the tag's content actually makes sense. Displaying an image with essential information where the text does not meet the contrast criteria would be

[2021-04-20 14:51] Stolzenhain commented on #605
:notes: Dreams are my reality…

[2021-04-21 15:56] distantnative opened #1328 "Tables don't work in since blocks"
https://getkirby.com/docs/reference/system/options/auth#login-methods

<img width="728" alt="Screenshot_2021-04-21_at_17 45 20" src="https://user-images.githubusercontent.com/3788865/115584145-d5dc2500-a2ca-11eb-9708-194feff5e0fc.png">

[2021-04-22 09:48] #1292 closed, assigned to distantnative

[2021-04-22 11:19] bastianallgeier commented on #1328
✅

[2021-04-22 11:19] #1328 closed, assigned to nobody

[2021-04-22 11:26] bastianallgeier commented on #1289
Thanks for all your input @sebastiangreger. I will try the wrapper first.

[2021-04-22 11:30] bastianallgeier commented on #1289
Ok, it turns out that Lighthouse doesn't make any difference here. I wonder if we should actually try to make Lighthouse happy in this case.

[2021-04-22 11:36] sebastiangreger commented on #1289
Hmm. Did you try both `role="presentation"` and `aria-hidden="true"`. I just realized I can try this in the Devtools Inspector. At least in Firefox, the latter effectively removes the wrapper div and all its contents from the Accessibility tree, while the "presentation" role does not (to be understood, why...)

[2021-04-22 11:42] sebastiangreger commented on #1289
Ah, here it is: https://www.w3.org/TR/using-aria/#presentation

...so, indeed `aria-hidden="true"` would be the only valid option for the wrapper as the `role` attribute only extens to required children (like `<td>` elements inside a `<table role="presentation">`).

There's always something new to learn...

[2021-04-22 11:56] bastianallgeier commented on #1289
Ahh, ok. I only tried the role.

[2021-04-23 09:57] #1297 closed, assigned to distantnative

[2021-04-23 10:51] bastianallgeier commented on #1291
✅

[2021-04-23 11:49] distantnative commented on #1291
@bastianallgeier this isn't actually solved, the PR is still open (and stuck due to the core requirement)

[2021-04-23 11:52] bastianallgeier commented on #1291
That's true, but the issue itself is solved for now. The PR still has other open issues that stay open. That's why I thought it makes sense to close this one. Unless we mess up the PR when we finally merge it, this one should stay closed, right?

[2021-04-23 11:54] distantnative commented on #1291
Oh sorry true, i didn't realize it's now an each page 😅

[2021-04-23 11:54] #1291 closed, assigned to lukasbestle

[2021-04-25 09:19] distantnative opened #1331 "Static methods should not display info text for `static` return"
It doesn't make sense that a static method like https://getkirby.com/docs/reference/objects/http/remote/request displays

Double checking with @lukasbestle - I think we could just drop this sentence for static methods.

[2021-04-25 11:09] lukasbestle commented on #1331
I fully agree!

[2021-05-02 09:02] texnixe opened #1337 "Code blocks don't scroll at certain window widths in Firefox on maxOS"
<img width="863" alt="Bildschirmfoto 2021-05-02 um 10 46 17" src="https://user-images.githubusercontent.com/5312492/116807511-d3cc5e80-ab33-11eb-96c0-00fbb7403b99.png">

Happens from a window width of  768px and above

[2021-05-02 09:25] afbora commented on #1337
Same with Windows & Firefox

[2021-05-02 09:36] afbora commented on #1337
![image (7)](https://user-images.githubusercontent.com/3393422/116808651-adfa8600-ab42-11eb-8101-f4d9542455f4.png)

By the way, I noticed that there is scroll in firefox, but it is not visible on the dark color. You can click the scroll area and scroll.

[2021-05-02 10:45] lukasbestle opened #1338 "Reference header: Move search to the left"
From Nolt: https://kirby.nolt.io/278

![q1uow32khmkhpec8elgx](https://user-images.githubusercontent.com/1595007/116810470-3cbbd280-ab44-11eb-9531-4e86da93da6a.png)

[2021-05-02 10:45] texnixe commented on #1337
I also have a scrollbar at smaller window widths in Firefox, but not above 768px and what is more is that there is no right margin anymore in those cases as you can see in the screenshot above.

Fine here below 768;
<img width="554" alt="Bildschirmfoto 2021-05-02 um 12 46 27" src="https://user-images.githubusercontent.com/5312492/116810526-81476e00-ab44-11eb-8aad-4ad4f6b7a8de.png">

[2021-05-02 12:48] afbora commented on #1337
Yes you are right. Above 768px there is no scroll.
Below 768px there is a scroll but it is not visible (for Windows & Firefox)

[2021-05-04 20:16] lukasbestle commented on #1321
Not necessary for now given our plans to improve the escaping features.

[2021-05-04 20:16] #1321 closed, assigned to nobody

[2021-05-05 15:13] distantnative opened #1341 "Refactored classes: redirects/aliases"
3.6 will move some classes between namespaces. We need to check how this affects the automatic reference. We also need to check if the class aliases in the Reference properly handle not only shorthands but also full-qualified class + namespace aliases.

[2021-05-08 09:41] Werbschaft opened #1348 "Required props in the references are missing"
As already mentioned at Discord, some methods lack the required props. An example is available at:

https://getkirby.com/docs/reference/objects/cms/file/create#parameters

Here the `source` is missing in the documentation, without the method does not work at all. As I know `parent` is also required, but not highlighted as it. @distantnative meant that this still some other sides concerns.

[2021-05-09 20:49] lukasbestle commented on #1298
Moved to #1351.

[2021-05-09 20:49] #1298 closed, assigned to nobody

[2021-05-11 10:05] #1290 closed, assigned to lukasbestle

[2021-05-11 10:05] #1296 closed, assigned to lukasbestle

[2021-05-15 13:28] pReya commented on #1337
Not sure if this is related, but the code blocks on the style guide (https://getkirby.com/styleguide) are all running outside of my viewport on latest Firefox and latest macOS.
![Screenshot 2021-05-15 at 15-18-27 Content styleguide](https://user-images.githubusercontent.com/4677417/118362910-18271800-b592-11eb-9383-8d616bd28b74.png)

[2021-05-16 11:01] lukasbestle opened #1354 "Plugin list: Display author names"
With the redesign we removed the author names from the overview and the plugin detail pages. To show that the plugins come from many different talented devs, I think we should bring the names back:

- Display author names together with the plugins in the overview
- Display author names on the detail pages
- Template for `plugin-developer` that displays all plugins of that author

[2021-05-18 08:54] afbora opened #1357 "Cookbook: author recipes"
When we click on the author in the recipe, the author's other articles will be listed instead of going to the website.

[2021-05-25 03:34] foobartel opened #1365 "Cookbook: Cropping in 'Virtual pages from image gallery' does not work"
Hello, It seems that image cropping in the cookbook article for "[Virtual pages from image gallery](https://getkirby.com/docs/cookbook/templating/virtual-pages-image-gallery)" does not work.

After searching I think it might be the same underlying issue as discussed in this [conversation in the forum](https://forum.getkirby.com/t/page-model-for-virtual-children-pages-on-the-fly/21798/12). Unfortun

[2021-05-25 08:43] texnixe commented on #1365
Hm, I cannot reproduce this issue. Although I must admit that the gallery-image.php template could be improved so that the image is cropped and not the linked image…

[2021-05-26 05:12] foobartel commented on #1365
Thanks for checking, yet it's somehow strange that it works for you.

In my case, the crop/resize functions do not work on either page, gallery and gallery-image respectively. I get the correct URLs, e.g. `/media/pages/__xzy__/1b3d2fcfd3-1621846682/2010-10-2-1-02-26-am-500x500.jpg`, but the media folder stays empty and the original image, with its original dimensions, is loaded.

[2021-05-26 07:07] texnixe commented on #1365
Are the job files created? Do thumbs work in general?

[2021-05-26 07:16] foobartel commented on #1365
If by job files you are referring to the resized images in the media hash folder, then no, they are not created.
The hash folders are created, but they all stay empty. Other thumbs around the site work as expected.

[2021-05-26 07:25] texnixe commented on #1365
With job files I was referring to the `.json` files inside the `.jobs` folder that is created inside every hash folder.

[2021-05-26 07:32] foobartel commented on #1365
Sorry, misunderstood. Yes, these are being created, I can see a few different formats in there.

[2021-05-26 08:44] lukasbestle commented on #1365
If you visit the URLs of the cropped images, Kirby will automatically pick up these job files and lazily create the thumb. This is the reason why the thumb files aren't physically there in the file system until they are requested.

If the thumb cannot be created, Kirby falls back to the original image. Which thumb driver are you using (GD or Imagick)?

[2021-05-26 08:55] foobartel commented on #1365
Thanks, that was a good tip, but no clue why it happened in the first place.

I have added `im` as the driver and with that it works, but usually I never touch the thumb driver config. With `gd` as default thumbs were not created, even if requested and the original fallback was used.

Thanks a lot for your help @texnixe and @lukasbestle! While not sure what the issue with GD is, I'm happy it works

[2021-05-26 09:49] #1365 closed, assigned to nobody

[2021-05-26 18:32] distantnative commented on #1348
I've added a fix for the `source` prop. The `parent` prop is a bit tricky as the manual exception (required) in the method and the general property setter (optional) contradict each other - see https://github.com/getkirby/kirby/pull/3372

[2021-05-26 18:36] #1331 closed, assigned to distantnative

[2021-05-26 19:12] distantnative commented on #1006
@medienbaecker since you are a user of `empty: false`, would be great to get your opinion in here https://github.com/getkirby/kirby/pull/3373 for why you use it, why your prefer it over `required` etc.

Thanks!

[2021-05-27 12:14] luglio7 opened #1371 "Error in documentation"
**Describe the bug**
The Page::create documentation is broken: https://getkirby.com/docs/reference/objects/cms/page/create

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://getkirby.com/docs/reference/objects/cms/page/create'
2. Bam

**Expected behavior**
Should display the page::create method

[2021-05-27 16:54] distantnative commented on #1371
✅

[2021-05-27 16:54] #1371 closed, assigned to nobody

[2021-05-28 09:37] pixelijn opened #1372 "Apply hooks return multiple variables"
Example: http://getkirby.com/docs/reference/plugins/hooks/kirbytags-before

[2021-05-31 09:24] renestalder opened #1375 "Documentation: Clarify blueprint extends, how it works and what is allowed and what not"
It's possible to reuse the status definitions (draft/listed etc) and that might be something everybody will ask themselves very early on. My experience with beginning with Kirby was exactly this: Create blueprints after blueprints and then wonder, how I can reuse frequently used definitions, and in this case, the `status` definition was the most obvious one I wanted to reuse.

I only looked this u

[2021-05-31 10:49] distantnative opened #1377 "Adapt `proxies` for `$file` based on `Filesystem` namespace"
https://github.com/getkirby/kirby/issues/3233

[2021-06-05 21:56] Werbschaft commented on #1354
Is this something similar when you remove the plugin name in the URL? Then an empty page appears with the name. It would be better to list all plugins of the developer right?

Example: https://getkirby.com/plugins/hashandsalt/

[2021-06-06 10:36] lukasbestle commented on #1354
Yes, that's because we don't have a template for `plugin-developer` at the moment as I wrote above.

[2021-06-06 20:41] lukasbestle commented on #1348
@distantnative With the deprecation of optional `parent` props I think this is done as it will solve itself with the release of Kirby 3.7.0, right? Until then the property is actually not required, so the docs are correct.

Is there any general issue we still need to fix on getkirby.com? If not, I suggest to close this issue.

[2021-06-06 20:50] distantnative commented on #1348
It's actually not correctly documented because `File::create` will already enforce it as required. But I also don't see a good way to fix that issue in another way.

[2021-06-07 08:09] lukasbestle commented on #1348
We could temporarily update the docblock for `setParent()` to say something like "This property is required for `FiIe::create()` and will be generally required starting with Kirby 3.7.0".

[2021-06-07 08:33] distantnative commented on #1348
Agreed, sounds like a good temporary solution until 3.7

[2021-06-07 14:12] pReya commented on #1337
Again, the same thing happening in the new cookbook article (https://getkirby.com/docs/cookbook/extensions/virtual-files). Latest Firefox on latest MacOS.

<img width="1440" alt="Screenshot 2021-06-07 at 16 11 38" src="https://user-images.githubusercontent.com/4677417/121032049-322bd300-c7ab-11eb-8a4e-0b42f24d9931.png">

[2021-06-07 14:14] texnixe commented on #1337
Yes, I experienced the same in Firefox on MacOS

[2021-06-08 18:03] bnomei opened #1388 "Documenation: update cookbook screenshots"
the screenshots are not up-to-date
https://getkirby.com/docs/cookbook/setup/getkirby-com

[2021-06-08 20:33] #1388 closed, assigned to nobody

[2021-06-11 09:42] trych opened #1394 "Titles and images of Cookbook Recipes are getting cut off in Firefox"
Hi there,

I am getting weird layout issues in the most recent Firefox (v 89.0) on macOS.
The titles and images are getting cut off, see screenshots:

![20210611-114018_Screenshot_Finder](https://user-images.githubusercontent.com/9803905/121666809-f2feca00-caa9-11eb-8ba8-4fb6ab6e7eec.png)

![20210611-114034_Screenshot_Firefox](https://user-images.githubusercontent.com/9803905/121666823-f6925100-ca

[2021-06-15 19:34] lukasbestle commented on #1394
This could be related to #1337.

[2021-06-19 20:04] adamkiss opened #1397 "Writer docs: paragraph node undocumented"
Today, as I was implementing Writer, I've looked up docs, specifically regarding limiting content;

This is what the docs state:

Looking at the panel source code, I also see following:
- HardBreak
- Doc
- Paragraph
- Text

Some of those seem obvious (text = `inline: true` write fields?), but some of those (specifically `paragraph`, in my case) are probably missing in the docs.

Additionally, I wa

[2021-06-21 12:54] mzur opened #1398 "New plugin: Event calendar"
Hi, I've updated my old [event calendar plugin](https://github.com/mzur/kirby-calendar-plugin). It is now compatible with Kirby 3 and could be added to the official plugins list.

[2021-06-21 13:40] #1398 closed, assigned to nobody

[2021-06-22 07:16] fabianmichael opened #1400 "Some methods in the reference display wrong type hint"
I found this issue on the `$file->blur()` page (https://getkirby.com/docs/reference/objects/cms/file/blur), but it probably affects other pages as well. In the source code, the method does not use a type hint, but the docs interpret this as `bool`, whereas the same page mentions, that the method also accepts an integer as parameter.

See https://github.com/getkirby/kirby/blob/3.5.6/src/Cms/FileMod

[2021-06-22 07:34] distantnative commented on #1400
The reference is using the doc block there... which seems to be the error then

[2021-06-22 20:08] texnixe opened #1402 "Upgrade guide: add that files cannot start with underscore"
https://forum.getkirby.com/t/media-files-starting-with-underscore-are-ignored/22652/2

[2021-06-23 13:25] medienbaecker opened #1403 "Lightbox opens smaller image"
Clicking on lightbox images you receive a smaller version of the images.
Looking at the source code I see the img tag in the lightbox has a srcset with `2x` while the images in the articles don't.

![getkirby com_docs_reference_panel_fields_blocks](https://user-images.githubusercontent.com/7975568/123103759-9d75d600-d436-11eb-9904-55c779577aa8.png)

[2021-06-23 13:28] afbora commented on #1403
I can confirm the issue when i click second time.

[2021-06-27 12:11] texnixe opened #1407 "List of breaking changes since 3.0"
People updating from any 3.x version to the current one, often have a hard time following up on all breaking changes that happened between versions.

So a list of all breaking changes that happened since 3.0 was introduced would probably be helpful when updating.

[2021-06-30 18:41] distantnative opened #1408 "Troubleshooting: add info on file editing issues with activated Varnish cache"
https://github.com/getkirby/kirby/issues/1861

[2021-07-08 09:02] sebastiangreger opened #1413 "Undocumented auth challenge config options"
Hi, I scratched my head over how to change the from address of the emails sent by the login auth flow.

Found `auth.challenge.email.from` etc. in `/Cms/Auth/EmailChallenge.php`, so this is to suggest whether these could be added to the documentation for convenience - at least the site search did not return any hits for that key.

Not quite sure what would be a good place ...could it be mentioned o

[2021-07-08 09:04] afbora commented on #1413
Do you mean following section? `Email options`

https://getkirby.com/docs/reference/system/options/auth#authentication-challenges__email-options

[2021-07-08 09:07] sebastiangreger commented on #1413
OMG, it's right there at plain sight! :open_mouth: Yes, @afbora, that is exactly what I was looking for :see_no_evil:

Sorry for this pointless issue ...I com-plete-ly overlooked that despite scrolling over that page twice!

[2021-07-08 09:07] #1413 closed, assigned to nobody

[2021-07-13 07:34] bastianallgeier opened #1414 "Add white-label Panel interface as feature"
That our Panel is basically a white-label solution is a big feature that often comes at extra costs with other systems. We don't sell it on our site at all.

[2021-07-17 11:20] distantnative commented on #1275
<img width="260" alt="Screen Shot 2021-07-17 at 13 19 38" src="https://user-images.githubusercontent.com/3788865/126035216-9d348dfe-4219-47da-8b79-8a75b3f56af2.png">

[2021-07-17 11:21] distantnative commented on #1400
@fabianmichael looks solved to me. Please reopen if you disagree

[2021-07-17 11:22] #1400 closed, assigned to nobody

[2021-07-17 11:25] #1348 closed, assigned to distantnative

[2021-07-17 11:30] #1280 closed, assigned to nobody

[2021-07-19 08:48] #1414 closed, assigned to nobody

[2021-07-19 16:03] distantnative commented on #1489
@bastianallgeier do you still think this is a bug? Based on the discussion in https://github.com/getkirby/kirby/issues/2248, I would think @afbora's comment is the solution for this use case.

[2021-07-19 19:44] lukasbestle commented on #1489
I think it is. Since the `$page->cacheId()` also contains the language code, the cache entries shouldn't be shared even if the page URIs on these domains are the same – the entries will still differ by language code.

[2021-07-19 19:45] lukasbestle commented on #1489
I feel like we should document this more clearly and then close these two issues.

[2021-07-20 12:11] texnixe opened #1422 "Add warning about potential placeholder greedyness in routes"
https://discord.com/channels/525634039965679616/809460677658804234/855461243204272138

[2021-07-21 17:48] tmslnz opened #1425 "Broken Github link in Database docs"
404 on the Github link a the bottom of this page:
https://getkirby.com/docs/reference/objects/database/query/__construct

Discovered because I wanted to submit an edit, whereby the second param of the `new Query()` constructor is not optional as the docs state (`Optional name of the table, which should be queried`)

[2021-07-21 19:34] afbora commented on #1425
Same for all `__construct` methods.

[2021-07-21 19:51] lukasbestle commented on #1425
I don't think it's `__construct()` specifically. We don't have actual reference pages for all methods, most of them are virtual pages that are auto-generated from our code. So every link that points to such a virtual page is broken.

@distantnative I see two options: Either we only display the GitHub link if the content file already exists. Or we create an issue template for "reference improvement

[2021-07-21 20:04] distantnative commented on #1425
I like the second suggestion!

On the concrete problem, this seems indeed wrong inline docs

[2021-07-29 19:00] VIPStephan commented on #1337
I’m able to “fix” this by adding `max-width: 100%` to the article element.
![Bildschirmfoto 2021-07-29 um 21 00 32](https://user-images.githubusercontent.com/13770606/127550484-928c4539-461d-4cc3-bf3b-ef3e2365b474.png)

[2021-07-30 11:15] arnoson opened #1434 "parcel-bundler (v1) ist not maintained anymore"
https://getkirby.com/docs/guide/plugins/plugin-setup-panel#introducing-parcel uses `parcel-bundler` which for has stopped working for me throwing various errors and is not maintained anymore. I tried to build a kirby plugin with parcel 2 but didn't have any success either. Would be great if the plugin-setup-panel guide could be updated to parcel 2 or an alternative bundler.

[2021-08-02 18:02] texnixe opened #1436 "Update Kirby in a nutshell recipe, remove Builder references"

[2021-08-06 09:53] texnixe opened #1440 "Fix wrong srcset example in 3.6 docs"
The example given in the 3.6 docs ares not valid
https://getkirby.com/releases/3.6/features/image-formats#srcset
https://getkirby.com/releases/3.6

[2021-08-07 09:42] #1440 closed, assigned to nobody

[2021-08-07 09:58] #1436 closed, assigned to nobody

[2021-08-07 10:15] texnixe commented on #884
I think we can close this?

[2021-08-07 10:17] texnixe commented on #670
Closing this, because we now have this recipe: https://getkirby.com/docs/cookbook/setup/nginx

[2021-08-07 10:17] #670 closed, assigned to nobody

[2021-08-07 10:34] #1402 closed, assigned to nobody

[2021-08-07 10:46] #1422 closed, assigned to nobody

[2021-08-07 11:06] #1408 closed, assigned to nobody

[2021-08-07 11:10] texnixe commented on #1397
This needs to be fixed in the source code inline docs

[2021-08-07 11:17] #884 closed, assigned to distantnative

[2021-08-07 15:21] #1372 closed, assigned to nobody

[2021-08-07 15:29] distantnative commented on #1434
I don't think this I quite correct. Parcel 2 is still not out of beta/RCs either.

[2021-08-07 15:31] texnixe commented on #1434
I wonder if we should use a different bundler, I'm also running into issues with the current setup time and again. Problably related to node.js versions.

[2021-08-07 16:05] lukasbestle commented on #1434
I also had several issues with Parcel 1, but couldn't get Parcel 2 to work either. :(
Unfortunately I don't have experience with other "modern" bundlers. In the end I could get Parcel 1 to work somehow, so I didn't investigate further.

[2021-08-07 17:41] texnixe commented on #1434
Yes, I always got Parcel 1 to work again as well, but always a bit of a pain.

@rasteiner posted his Rollup solution on the forum recently: https://forum.getkirby.com/t/build-failed-on-parcel/22912/6

But I guess it's always the same with those bundlers, you change your environment and the stuff stops working. Guess I'll try a Docker approach in the future.

[2021-08-07 17:43] texnixe commented on #1397
Should we move this to the kirby repo?

[2021-08-07 17:50] lukasbestle commented on #1397
I wonder if the docs are really incorrect. I don't fully understand the internal writer setup, but as far as I can tell, these are all the supported node types:

https://github.com/getkirby/kirby/blob/79bce56a34a188ceaafb0a5179215fb55dca8bc5/panel/src/components/Writer/Writer.vue#L227-L231

[2021-08-07 17:56] texnixe commented on #1397
But here 6 are imported:
https://github.com/getkirby/kirby/blob/79bce56a34a188ceaafb0a5179215fb55dca8bc5/panel/src/components/Writer/Writer.vue#L46

And here it mentions the paragraph node: https://github.com/getkirby/kirby/blob/79bce56a34a188ceaafb0a5179215fb55dca8bc5/panel/src/components/Writer/Writer.vue#L153

And to me it makes sense to be able to limit the writer field to paragraphs only.

[2021-08-07 19:25] lukasbestle commented on #1397
But if we filter the `nodes` prop to the five (+ `HardBreak`, which is always forced to be contained in the list), I don't think it's possible to configure other node types.

@distantnative @bastianallgeier?

[2021-08-07 22:13] arnoson commented on #1434
Thanks @texnixe for posting the link to the rollup setup!
It is true that bundlers always complicate things and at some point might stop working, but I have the feeling with parcel it is particularly bad. As @distantnative mentioned parcel 2 is still beta, but parcel 1 is already not maintained anymore which seems weird. I think going for rollup would be a better choice, since the development on i

[2021-08-07 22:37] rasteiner commented on #1434
Since the panel has switched to vite, maybe it's possible to get it to work also for plugins. The rollup script I posted on the forum doesn't do HMR, so maybe that could be done better with vite. I don't have much experience with it though...

[2021-08-08 08:56] texnixe commented on #1397
You are probably right. Setting `nodes: false` always leaves you with the paragraph "node", even though it doesn't seem to count as node.

If that's the case, we should however mention that somehow in the docs as it's obviously confusing.

[2021-08-11 18:38] #1247 closed, assigned to nobody

[2021-08-14 10:04] texnixe opened #1460 ""New in the docs" feed"
When we add new stuff to the docs, people often miss it. While we post about new cookbook recipes, the rest often goes unnoticed.

For documentation that we add manually, we could use GitHub's API to generate a feed provided we give ourselves a commit message regimen, because typo correction commits and other smaller changes are of course completely useless.

For documentation generated automatica

[2021-08-18 10:15] gitlabisbetterthangithub opened #1461 "Accessing a non existent page under /docs/reference/objects/cms/ causes redirect loop"
Accessing a non existent page under docs/reference/objects/cms/ causes a redirect loop.

For example, https://getkirby.com/docs/reference/objects/cms/testing will redirect to https://getkirby.com/docs/reference/objects/cms/cms/cms/cms/cms/cms/cms/cms/cms/cms/cms/cms/cms/cms/cms/cms/cms/cms/cms/cms/testing

[2021-08-20 19:27] #1461 closed, assigned to distantnative

[2021-08-27 13:52] renestalder opened #1467 "Reference: File Blueprints reference shows search and pagination of page blueprints?"
I'm really not that certain about what's going here.

https://getkirby.com/docs/reference/panel/fields/files#pagination

Pagination and search sections here show examples with `type: pages` and I can't figure out what that is about other than It must be a mistake. They are probably valid options, but the examples should show up with `type: files`.

I wanted to send a pull request, yet the [documen

[2021-08-27 14:57] renestalder commented on #1434
If somebody is interested in a esbuild solution, here is a version that works for me:

`package.json`:
[code]

`scripts/common.js`:
[code]

`scripts/build.js`:
[code]

`scripts/watch.js`:
[code]

**Notes**:

* The vue dependencies seemed necessary for it to work.

[2021-08-27 16:07] texnixe commented on #1467
Thanks for pointing this out, I fixed it.

[2021-08-27 16:07] #1467 closed, assigned to nobody

[2021-08-28 16:10] crisgfx commented on #1434
Thanks a lot for this setup! It works well, but I can't get the HMR to work.
The console says that my browser (FF) can't establish a connection to `ws://localhost:60060/`.
Do You have a hint how I can solve this?
I've experienced the websocket problem with the parcel setup as well : /

[2021-08-30 07:24] renestalder commented on #1434
@CrisGraphics Sorry, can't help there. I don't know with what tools you try to achieve it, as to my knowledge, esbuild doesn't have a HMR API, thus doesn't might have HMR, officially.

[2021-09-01 08:21] texnixe opened #1471 "Update authors recipe"
https://getkirby.com/docs/cookbook/templating/authors

Recipe needs update  because the field doesn't store email addresses anymore.

[2021-09-06 07:47] oldinosor opened #1473 "Add final config in sitemap recipe"
01 - Create the snippet with your XML
Line 4 of the code block
[code]
uses the undefined variable $ignore
And could be replaced by something like:
[code]

02 - Create new routes
If a folder sitemap and a file sitemap.txt are created in /content
http://yourdomain.com/sitemap gives a result
But http://yourdomain.com/sitemap.xml redirects to the error page and not to the first above.
In any case, wit

[2021-09-06 07:50] texnixe commented on #1473
`$ignore` is defined in the route and passed to the snippet.

[2021-09-06 07:55] oldinosor commented on #1473
With
[code]
in config.php

The error message is:
Whoops \ Exception \ ErrorException (E_WARNING)
Undefined variable $ignore

Please, try to use the recipe and the issue will be there! :-)

[2021-09-06 07:58] texnixe commented on #1473
Works for me, your config should include `sitemap.ignore` and the route.

[2021-09-06 08:10] oldinosor commented on #1473
I added the '2 - Create new routes' whole code in config.php
[code]
Is it enough or should I add something else?

[2021-09-06 09:01] texnixe commented on #1473
The `sitemap.ignore` option is still missing, unless you only want to exclude the error page (which is set as fallback. And make sure that your config only has one return statement and all options are included inside that return array.

[2021-09-06 09:21] oldinosor commented on #1473
OK, Thanks! :-)
Everything is all right now.

To help people (like me...) who don't read the comment at the top of the config.php file,

perhaps could you change in this comment

"The config file is optional. It accepts a return array with config options."
by
"The config file is optional. It accepts only one return array with config options."

and add in the recipe

after 3 - Excluding pages from

[2021-09-06 16:15] #1473 closed, assigned to nobody

[2021-09-06 22:11] #1471 closed, assigned to texnixe

[2021-09-06 22:12] texnixe commented on #1471
via 3c2c36c175ae1e405135a1a30ec54528cf6f80d7

[2021-09-10 22:56] texnixe opened #1478 "Document media hash change when changing servers"
https://forum.getkirby.com/t/transferring-kirby-from-one-server-to-another/23363/7?u=texnixe

[2021-09-14 10:07] johannschopplich commented on #1434
@distantnative Found a pretty neat solution with Vite, which I am currently embracing: https://github.com/distantnative/retour-for-kirby/blob/release/4.0.0/vite.config.js

It's basically ESBuild, but wrapped by Vite and thus easier to maintain.

Parcel doesn't feel right anymore. I pretty much like @renestalder's take. With some `ENVIRONMENT` magic, build and watch scripts could even be combined.

[2021-09-16 09:26] sebastiangreger opened #1484 "Reference: Splat syntax is converted to a single argument"
https://getkirby.com/docs/reference/objects/cms/site/find states that `->find()` expects a string, but this also works with an array of page IDs (e.g. the `pages()` helper does that).

As an additional note: the reference does not indicate that `->find()` only finds published pages (listed/unlisted) but not drafts.

[2021-09-17 06:44] johannschopplich commented on #1434
Guys! I created a solution. Introducing [**kirbyup**](https://github.com/johannschopplich/kirbyup), a CLI to bundle Kirby Panel plugins. It uses Vite under the hood. Written in TypeScript, with as few dependencies as possible.

Usage:

[code]

I have looked into ESBuild and its Vue plugin counterpart, but the latter isn't maintained very well and uses a hacky way to transform Vue files with Node w

[2021-09-17 21:57] afbora commented on #1285
`cart` search in plugins
https://getkirby.com/search?q=cart&area=plugin

`snipcart` not found
https://getkirby.com/plugins/hashandsalt/snipcart

[2021-09-23 06:02] owzim opened #1491 "`Plugins > Latest` missing"
Either I don't remember it correctly, or there never was a 'latest' section on the plugins page.

It would be great to have either this or a sorting method.

[2021-09-23 08:45] texnixe commented on #1491
There was never such a feature, but missing it myself. It's on the roadmap and there is already an issue for this here: https://github.com/getkirby/getkirby.com/issues/1234, so I'm closing this.

[2021-09-23 08:45] #1491 closed, assigned to nobody

[2021-09-24 08:56] marcus-at-localhost opened #1492 "Favicons: distinctive colors for different parts of the Kirby sites"
5000 Tabs open, constantly switching between my backend, docs, cookbook, feature upvoting and forum.
Constantly getting lost.
![image](https://user-images.githubusercontent.com/1337223/134646919-f159d97c-49da-4e71-989c-69e2b237648b.png)

Forum and Kirby backend using the outlined Kirby logo, all other services the filled one.

I would appreciate some sort of color coding as you already are using h

[2021-09-24 12:02] medienbaecker commented on #1492
I'd appreciate that too.

For a client project I recently added a route for `favicon.svg` so I can color code depending on the page. Simplified example:

[code]
Something like that could be used to color code the pages in the docs.

[2021-09-24 16:10] KGS-Rastede opened #1493 "Cookbook: from SASS to minified CSS"
Hi

I started a cookbook that is based on/complementary to

     https://getkirby.com/docs/cookbook/setup/kirby-meets-purgecss

I am in contact with the author, he already gave me some input.

My draft is here:

https://github.com/KGS-Rastede/getkirby.com/tree/master/content/docs/2_cookbook/9_setup/0_kirby-meets-cssminify

As you can see there is an outline (in German).

Before I continue with thi

[2021-09-24 16:42] KGS-Rastede opened #1494 "Cookbook: email system with forms"
I am running a school homepage. On that we are using a email-form so that parents can call their children in sick. It looks like this:

![image](https://user-images.githubusercontent.com/17048988/134709746-794bbeea-8212-400b-82e6-c69569566ad5.png)

A working demo of that is here: https://niehaus-ol.de/allgemeines/krankmeldung

After chatting with Bastian we found that this might be a good real-wor

[2021-10-01 12:15] bnomei opened #1497 "Plugin vendor page could show all plugins"
just like when viewing a plugin

add liste here
https://getkirby.com/plugins/bnomei

same as here
https://getkirby.com/plugins/bnomei/autoid

[2021-10-01 12:21] afbora commented on #1497
Same https://github.com/getkirby/getkirby.com/issues/1354

[2021-10-01 12:22] #1497 closed, assigned to nobody

[2021-10-02 11:32] johannschopplich commented on #1434
@bastianallgeier I think this issue can be closed for now. 😊

[2021-10-02 17:15] #1434 closed, assigned to nobody

[2021-10-02 17:21] afbora opened #1500 "Overriding config from plugin"
An option cannot overwrite if defined in config.php because of `A::merge($pluginOptions, $coreOptions)`. If it is not defined, it can be set as follows. I think this info should be document.

[code]

[2021-10-04 11:59] #1354 closed, assigned to nobody

[2021-10-10 21:43] trych commented on #1287
Quick question, as I am trying to serve the site locally with valet as well, without having any success. What exactly would I need to change with the `.htaccess` to make it work?

[2021-10-11 05:31] texnixe commented on #1287
@trych Valet uses nginx not Apache, so the `.htaccess` is of no use.

[2021-10-11 06:52] trych commented on #1287
@texnixe Ok, but what else might be the reason the local serving does not work via Valet? I get a `502 Bad Gateway` error.

[2021-10-11 11:51] lukasbestle commented on #1484
[In the code](https://github.com/getkirby/kirby/blob/3.5.7.1/src/Cms/HasChildren.php#L128) we have hinted this argument as `string ...$arguments`, which is correct. @distantnative I think the reference converts this syntax to `string $arguments = null`, which seems like a bug to me.

Regarding the note about drafts: You are right, I have fixed it in the code: https://github.com/getkirby/kirby/pull

[2021-10-11 12:19] lukasbestle commented on #1500
To be honest I feel like this is only a hack and not a feature that should actually be used by plugins.

[2021-10-11 12:26] lukasbestle commented on #1287
@trych The current implementation uses a pretty standard setup actually, there's nothing special in `.htaccess` that you would need for Valet.

`502 Bad Gateway` sounds more like a PHP issue to be honest (nginx not being able to connect to the PHP socket). Have you checked if other sites served via Valet work?

[2021-10-11 12:32] afbora commented on #1500
Yes, it's kind of a hack. So should we turn this from hacking into a feature?

[2021-10-11 12:49] lukasbestle commented on #1500
Well, I wonder what the real world use case would be. Plugins could set core options to default values, e.g. a plugin with multilang enhancements could set `'languages' => true`. But is this really necessary in practice?

IMO it's much better to explain such options in the plugin `README` so that the dev can enable them in `config.php`. Then the dev always knows which Kirby options are set to whic

[2021-10-11 12:53] afbora commented on #1500
I know the days when I really needed this feature, but I don't remember what they are now 🙈. I think it's better to keep this information as a hack for now 👍

[2021-10-11 12:53] #1500 closed, assigned to nobody

[2021-10-11 15:27] trych commented on #1287
@lukasbestle I was gonna post something like "of course my other sites work", but ... you are right, all my valet sites are down right now. 😔 I think there was something going wrong brew updating my stuff yesterday. Will see if I can get it fixed. Thanks for the pointer in the right direction!

[2021-10-20 14:51] distantnative opened #1511 "Blocks reference misses link to guide how to create custom blocks"
https://getkirby.com/docs/reference/panel/blocks

[2021-10-21 13:28] adamkiss opened #1513 "Mobile: search hidden by navigation"
If you’re on the mobile version, and open the navigation, tap the search opens the search bar under the navigation  and it’s obscured by the nav, which doesn’t close;

expected:
Close the nav or set a higher z-index for the search modal

[2021-10-23 16:12] distantnative opened #1516 "Search: `referer` yields countless results"
<img width="1291" alt="Screen Shot 2021-10-23 at 18 11 54" src="https://user-images.githubusercontent.com/3788865/138563732-2620d0c0-75e5-4866-8c4e-0e85499b4e57.png">

[2021-10-24 13:38] lukasbestle commented on #1285
Also: #1516

[2021-10-24 13:39] lukasbestle commented on #1516
I've added it to the issue in #1285. Because of 3.6 I didn't find the time for it yet.

[2021-10-24 13:39] #1516 closed, assigned to nobody

[2021-10-25 11:20] medienbaecker opened #1519 "Add `aspect-ratio` to image kirbytag"
The lazy loaded images you insert via the `(image: )` kirbytag do not receive `width`/`height` attributes or an `aspect-ratio`.

When the images load there's significant content reflow. You can reproduce this by opening this page and scrolling up: https://getkirby.com/docs/reference/panel/fields/blocks#custom-block-types__tabs

[2021-10-25 19:07] renestalder opened #1520 "Not all components documented on the UI Kit reference"
Is it me or are there certain UI components missing on the reference page for the UI Kit? A couple of cookbook articles show the usage of `<k-writer>` and I build custom block components with it, but I can't find it anywhere in the documentation.

https://getkirby.com/docs/reference/plugins/ui

So, I wonder if that is the wanted behaviour and if not, if other components are missing from that page.

[2021-10-25 19:22] distantnative commented on #1520
There are indeed a number of components missing currently. We are trying to automate part of the docs for the UI components which will hopefully at least offer some basic docs for all components: https://github.com/getkirby/getkirby.com/pull/1335

[2021-10-27 10:03] #1425 closed, assigned to distantnative

[2021-10-28 09:25] gearsdigital opened #1526 "Plugin downloads aren't working"
It seems that all the download links are broken because of double slash `//` in the Downlaod URL

**Reference page:**
https://getkirby.com/plugins/gearsdigital/reporter

**Not working:**
https://api.github.com/repos/gearsdigital/kirby-reporter//zipball

**Working:**
https://api.github.com/repos/gearsdigital/kirby-reporter/zipball

[2021-10-28 09:32] bastianallgeier commented on #1526
✅

[2021-10-28 09:32] #1526 closed, assigned to nobody

[2021-11-01 15:34] #1511 closed, assigned to nobody

[2021-11-06 12:12] distantnative commented on #1231
New plan:

- Each version has its own branch 3.5, 3.6 etc.
- When we start working on the docs of a new version, we already start the branch for it. Just like we currently do with the 3.6 branch
- As soon as the release is out, the 3.6 branch will become main and main will become 3.5
- 3.5 will be deployed as a new redundant version on our domainfactory server. It's separate from the main webserve

[2021-11-13 11:40] distantnative opened #1541 "Panel internals: events"
document key Panel events

[2021-11-13 11:40] distantnative commented on #1520
Will be available with release of Kirby 3.6.0

[2021-11-13 11:40] #1520 closed, assigned to nobody

[2021-11-13 11:41] #1377 closed, assigned to distantnative

[2021-11-13 12:28] #1341 closed, assigned to distantnative

[2021-11-13 13:58] texnixe opened #1543 "Blueprint options: Indicate if prop accepts query syntax"
It would be great if blueprint options had indicators if a property supports query syntax or not. Some do, some don't, and currently we always have to go to the source code or find out by trial and error.

[2021-11-13 14:03] distantnative commented on #1543
I guess we would have to fix this partially in the core, e.g. for field props. Just adding something like `(support query syntax)`. There are likely other parts that are manual docs that we would need to treat as well.

[2021-11-13 14:06] texnixe commented on #1543
Yes, I thought so. Should I add another issue in the core repo?

[2021-11-13 14:09] distantnative commented on #1543
I think it's fine here. We can look at it for 3.6.1 or 3.6.2 - shouldn't be too difficult to do

[2021-11-13 16:18] bastianallgeier commented on #1543
How's the rule for custom docblock comments? Couldn't we just make up our own? Something like

[code]

Our parser can parse all that stuff as far as I know.

[2021-11-13 16:18] bastianallgeier commented on #1543
This would also make our lives a lot easier for the blueprint editor.

[2021-11-13 16:19] distantnative commented on #1543
We should be able to implement this custom docblock tag in our reference models.

[2021-11-13 16:21] bastianallgeier commented on #1543
Maybe it would be cool to create a general concept for such custom tags. What would be useful for the docs and what would be useful for the editor?

[2021-11-13 16:22] distantnative commented on #1543
That would be great, to integrate all at once.

[2021-11-13 16:25] bastianallgeier commented on #1231
What are the open todos for this? Where can I help best?

[2021-11-13 16:31] distantnative commented on #1231
- Search: currently we use the index from the main page. I would think this might be sufficient as the main information will match between versions. Missing pages in e.g. v3.5 will be redirected to current version already. But of course it's a bit off, though reworking our integration with multiple split indexes (between docs and rest) seems a lot of work. Not Sur eif worth it.
- UI: How do we mak

[2021-11-13 16:35] bastianallgeier commented on #1231
- Search: I think we can keep this as an optimization step for later. Too much work for the launch
- UI: I will have a look at that
- Process: let's keep it as simple as possible for now. We can keep it manual for most parts

[2021-11-13 16:38] distantnative commented on #1231
On process: didn't mean to automate it, meant we should write it down somewhere so that when 3.7 comes around we know what to do

[2021-11-13 16:49] bastianallgeier commented on #1231
I totally agree. I think we should also find a good subdomain pattern for the versions. k1.getkirby.com and k2.getkirby.com are not really good. I'd prefer something like vX.X.getkirby.com

I.e:

- v1.1.getkirby.com
- v2.5.getkirby.com
- v3.5.getkirby.com
- v3.6.getkirby.com

Or just

- 1.1.getkirby.com
- 2.5.getkirby.com
- 3.5.getkirby.com
- 3.6.getkirby.com

[2021-11-13 20:34] texnixe opened #1549 "Separate guides: editor, developer, plugin"
- Developer Guide
- Editor Guide
- Plugin Guide

[2021-11-13 20:43] bastianallgeier commented on #1549
Structure ideas for the editor guide:

- Installation
- Login
  - Login via email
  - Password reset
  - Blocked logins
- Site settings
   - Updating site info
   - Translating site info
   - Site files
- Pages
   - Pages sections
   - Creating pages
   - Publishing pages
   - Updating pages
   - Sorting pages
   - Deleting pages
   - Page files
   - Translating pages
- Files
   - Files sections

[2021-11-13 21:09] distantnative commented on #1231
Could the dots cause problems?

Another option
- docs-3.5.getkirby.com
- docs-3.6.getkirby.com
- docs-3.7.getkirby.com

[2021-11-14 08:15] distantnative commented on #1549
Plugin guide could be in the direction of:

- Getting started
- Setup
  - The basics
  - Autoloading
  - Composer dependencies
  - For Panel plugins

- Core
  - Class methods & models
  - Providing parts: Templates, Snippets, Blueprints, Routes..
  - Hooks
  - Core components
  - API

- Panel
  - Fields and Sections
  - Areas, Dialogs, Dropdown, Search
  - UI kit & CSS properties + selectors
  - P

[2021-11-14 12:49] lukasbestle commented on #1231
With the dots the semantics get turned around. E.g. in the example `v3.6.getkirby.com`, `v3` is a subdomain of `6.getkirby.com`.

This syntax would solve that:

- v11.getkirby.com
- v25.getkirby.com
- v35.getkirby.com
- v36.getkirby.com

...but it would cause problems once we have v3.10 or higher.

Alternatively maybe this:

- v1-1.getkirby.com
- v2-5.getkirby.com
- v3-5.getkirby.com
- v3-6.getkir

[2021-11-14 13:03] lukasbestle commented on #1543
The `@queries` tag should also be able to differentiate between props that are a query themselves and props that may use queries with the `{{ }}` syntax.

[2021-11-16 19:39] distantnative opened #1562 "Finish 3.6 docs"
- [x] Custom iframe attributes allowed in video helper
- [x] toggle field now supports the query syntax in the text property
- [x] Now default block previews are overwritable
- [x] Breaking: Multi-language setup: slugs in content files of the default language will be ignored
- [x] Html::encode(): Single quotes now are also converted

[2021-11-21 13:15] lukasbestle commented on #1549
Also related (developer docs): https://kirby.nolt.io/374

[2021-11-21 14:30] plain-solutions-gmbh opened #1570 "More Infos about Plugins"
The information about a plugin on the plugin page is very basic. The API from Github could provide some useful information that can be displayed without having to edit the page.

E.g. https://api.github.com/repos/youngcut/kirby-grid-block
Could provide information about when the plugin was created and when it was last updated. This could give a rough idea if the plugin still works in the current K

[2021-11-21 15:39] sebastiangreger opened #1573 "Add information about overriding Sane class defaults"
This is totally niche, and probably very low priority – just opening this issue for future consideration, as I've run into this twice now.

The `Sane` class comes with a preset of permitted SVG/XML attributes etc., which can be overridden. These allowlist overrides are not currently documented (and, frankly, I'm not quite sure where that info would be best placed in the reference).

Related:
- htt

[2021-11-22 12:16] bastianallgeier opened #1574 "3.6.2 docs"
## Left over from 3.6.1

- [x] New `system.exception` hook: https://github.com/getkirby/kirby/pull/3952

## 3.6.2

- [x] Safe mode for Markdown: https://github.com/getkirby/kirby/pull/4095
- [ ] `css()` helper with `alternate stylesheet` support: https://github.com/getkirby/kirby/pull/4099

[2021-11-25 13:38] distantnative commented on #1231
✅

[2021-11-25 13:38] #1231 closed, assigned to bastianallgeier, distantnative

[2021-11-25 13:39] distantnative opened #1579 "UI for switching 3.5/3.6 docs"

[2021-11-25 16:31] distantnative commented on #1549
@lukasbestle that seems more like a feature request (custom `$kirby` methods) than docs-related

[2021-11-25 16:58] distantnative commented on #1549
How would we want to do the menu structure? Separate menu entries or rather listing them all on the `Guides` menu entry?

The latter could look like this:

![getkirby test_docs_guide](https://user-images.githubusercontent.com/3788865/143479803-cbd3acd2-cf24-4ab6-afeb-6af2821d6501.png)

[2021-11-25 17:20] lukasbestle commented on #1549
The custom Kirby methods yes, but the custom components should already work.

[2021-11-25 17:26] bastianallgeier commented on #1549
I would go for separate menu items. Helps to clean up the guide overview for beginners

[2021-11-25 19:47] texnixe commented on #1549
Yes, I prefer menu items as well.

[2021-11-25 22:08] distantnative commented on #1549
Not fully convinced tbh

<img width="300" alt="Screen Shot 2021-11-25 at 23 07 59" src="https://user-images.githubusercontent.com/3788865/143503656-6626df03-188b-4a18-9b03-40a2e5230c76.png">

neither this

<img width="398" alt="Screen Shot 2021-11-25 at 23 09 07" src="https://user-images.githubusercontent.com/3788865/143503720-6fe755c3-21ea-4465-b535-2d1ef8bae192.png">

[2021-11-25 22:14] distantnative commented on #1549
Maybe
<img width="366" alt="Screen Shot 2021-11-25 at 23 14 32" src="https://user-images.githubusercontent.com/3788865/143504027-97fc12e9-589c-4046-bd45-435da7492191.png">

[2021-11-26 10:09] bastianallgeier commented on #1549
I really like the version with the horizontal lines. We could even think about a bit more extended dropdown at some point.

[2021-11-26 10:10] bastianallgeier commented on #1549
No idea if it's really that good for our case, but something like Stripe is doing …
![Screenshot 2021-11-26 at 11 09 23](https://user-images.githubusercontent.com/24532/143564100-d00b4e33-4244-428e-9481-3632b8e8f4c2.png)

[2021-11-26 10:43] distantnative commented on #1549
Uh I like that

[2021-11-26 17:44] distantnative commented on #1549
Extending the dropdowns would allow us to list probably quite a few more items (e.g. Security) in there. Or also merge some top-level items
<img width="459" alt="Screen Shot 2021-11-26 at 18 42 44" src="https://user-images.githubusercontent.com/3788865/143616491-a93cf00b-f89a-4f73-bea4-7ed4bfee8dbc.png">

[2021-11-26 17:45] distantnative commented on #1549
I can't access the dropdowns for Stripe btw... when I try to move my cursor on the dropdown from the top-level item, the dropdown closes (Safari) 😂

[2021-11-27 14:16] texnixe commented on #1549
My 2ct: I think as long as we don't have more than those seven items max in the dropdown, a single column like now is actually easier to scan than multiple columns.

[2021-11-29 09:31] sebastiangreger opened #1584 "Depreciate cookbook article on selective page cache"
A [discord discussion](https://discord.com/channels/525634039965679616/525641819854471168/914572838143393792) this morning made me aware that the solution outlined in the cookbook article at https://github.com/getkirby/getkirby.com/tree/main/content/docs/2_cookbook/9_setup/0_selective-page-cache has no longer been working since 3.5.5 and actually harms performance of any website using it – as far

[2021-11-30 22:08] afbora opened #1591 "`page.changeStatus:before` hook params mixing when nullable position"
`$position` param should be nullable to avoid getting error. But when position nullable as  `?int $position  = null` , document page mixing like following screenshot:

![screen-capture-1272-page changeStatus_before - Kirby CMS-getkirby test](https://user-images.githubusercontent.com/3393422/144135679-e5fac21e-7a2f-46b6-b473-5872d0bff355.png)

[2021-12-01 10:01] adamkiss opened #1592 "UI: code block file name too long"
**Issue with Reference**
The code blocks have an optional file name, and if the screen is too narrow, these don’t overflow like the code does.

Example: https://getkirby.com/docs/cookbook/panel/advanced-panel-area

[2021-12-01 12:12] sebastiangreger commented on #1584
Related issue in core: https://github.com/getkirby/kirby/issues/3976

So for versions 3.5.5–3.6.1 (as planned today), the solution from the cookbook essentially triggers Kirby to disable the page cache and send out "no cache" headers globally for the entire website. I.e. it is no different from turning off page cache entirely (as a matter of fact, just turning of the cache entirely does not come w

[2021-12-01 16:06] fabianmichael opened #1593 "Code examples cut-off at certain resolutions in Firefox"
As the screenshot shots, the code examples are rendered too long. It’s great, that they are wider than regular paragraphs, but in Firefox, the text does not wrap, making the last characters of long lines invisible. See screenshots below:

![Bildschirmfoto 2021-12-01 um 17 02 28](https://user-images.githubusercontent.com/395617/144269061-bcf484cf-9bd5-4ace-8486-20e846a6f427.png)
Firefox 94.0.2 on m

[2021-12-01 16:07] fabianmichael opened #1594 "Search button overlaps the results in Firefox"
The search button overlaps the search results at some viewport sizes, see screenshot below:

![Bildschirmfoto 2021-12-01 um 17 06 37](https://user-images.githubusercontent.com/395617/144269692-f9e0158f-4c15-44d3-88c8-fcbcd06c06c0.png)
Firefox 94.0.2 on macOS 11.6.1

[2021-12-06 20:55] lukasbestle commented on #1584
@sebastiangreger I think the best way forward is to delete the recipe entirely. What do you think?

[2021-12-07 15:23] texnixe opened #1600 "Extend query syntax guide with info how to access different objects in the text/value props"
- arrayItem
- block
-  file
- page
- structureItem
- user

[2021-12-08 04:39] sebastiangreger opened #1601 "Plugin directory still lists "Twit" plugin, now superseded by "kirby3-twitter""
via https://forum.getkirby.com/t/twit-plugin-twitter-feed-help/24183 :

Plugin page https://getkirby.com/plugins/hashandsalt/twit should probably be removed and https://github.com/HashandSalt/kirby3-twitter added to directory instead?

[2021-12-10 09:30] sebastiangreger commented on #1584
I don't see any value in this cookbook's solution in present (due to the potentially unwanted consequences, even though the technique still works) or for the future (as the outcome of this tweak pretty much is what you outlined for the future default behaviour).

So yes, deletion makes sense. I was contemplating whether it would be good to retire it gracefully (e.g. setting it to unlisted and add

[2021-12-10 10:02] texnixe commented on #1601
Fixed with e737f0266864741bdbc0951475c80223ea45823c

[2021-12-10 10:02] #1601 closed, assigned to nobody

[2021-12-10 13:10] #1584 closed, assigned to nobody

[2021-12-13 09:33] #1600 closed, assigned to nobody

[2021-12-21 21:27] texnixe opened #1623 "Document missing Panel config settings"
- [ ] `panel.dev`
- [x] `panel.menu`
- [x] `panel.search`(type and limit)

[2022-01-03 19:39] pReya commented on #1593
Duplicate of #1337

[2022-01-04 17:27] fabianmichael commented on #1593
@pReya You’re right.

[2022-01-04 17:27] #1593 closed, assigned to nobody

[2022-01-05 20:14] bryantwells opened #1626 "Misspelling on Aspect Ratio UI Kit Page"
**Issue with Reference**

closing tag is misspelled @ https://getkirby.com/docs/reference/plugins/ui/aspect-ratio
[code]

**Expected**

[code]

**Screenshots**

[2022-01-05 21:36] lukasbestle commented on #1626
Thanks for letting us know. I've opened a PR in the Kirby repo to fix this typo directly in the code: https://github.com/getkirby/kirby/pull/4080

[2022-01-05 21:36] #1626 closed, assigned to nobody

[2022-01-09 12:39] texnixe opened #1631 "Find another name for default controller (site.php) to avoid confusion with default.php controller"
In the guide (https://getkirby.com/docs/guide/templates/controllers#default-controller) we call the general purpose `site.php` controller "default controller". What would be a better name for this controller to avoid confusion with the actual `default.php` controller.

- General controller
- Base controller
- ...

[2022-01-09 13:14] #1337 closed, assigned to distantnative

[2022-01-09 13:22] distantnative commented on #1631
To me it sounds as if the `site.php` controller actually should be `default.php` controller? or was our idea that one could have a `default.php` controller for `default.php` templates but even another one that pages use that have a specific template but no own controller?

[2022-01-09 13:28] texnixe commented on #1631
I don't think so. Because the `default.php` controller only works with the `default.php` template, while the `site.php` controller works for all templates unless there is a template specific controller.

[2022-01-09 13:29] distantnative commented on #1631
Then I would go for something as `General site controller`

[2022-01-09 17:07] #1631 closed, assigned to nobody

[2022-01-12 05:29] yurivish opened #1645 "Markdown rendering issue?"
**Issue with Reference**

URL: https://getkirby.com/docs/cookbook/extensions/ab-testing

**Expected**
The sentence should say "either return `0` or `1`“.

**Screenshots**

![image](https://user-images.githubusercontent.com/114388/149069296-c2c60c11-702e-4080-962b-fde7fba1b2d7.png)

The issue is interesting because the [source](https://github.com/getkirby/getkirby.com/blob/68b62a6cde3c01949d8e94b00

[2022-01-13 08:51] sebastiangreger opened #1646 "Fiber: Document objects/keys under window.panel"
Just preserving these here as @bastianallgeier shared [in Discord](https://discord.com/channels/525634039965679616/525638772591951882/930831469734166580) :pray: – this would be a valuable addition to the docs (though I am currently having a hard time coming up with a good suggestion where/how):

[code]

[code]

[2022-03-03 14:49] bvdputte opened #1673 "Add documentation about the new system.exception hook"
Can you please add  documentation about the new `system.exception` hook to the reference: https://getkirby.com/docs/reference/plugins/extensions/hooks#available-events ?

Thx!

[2022-03-05 08:14] #1673 closed, assigned to afbora

[2022-03-16 08:15] #1645 closed, assigned to nobody

[2022-03-16 08:15] distantnative commented on #1645
Thanks! for spotting!

[2022-03-16 11:32] yurivish commented on #1645
Thanks for fixing!

[2022-03-21 13:08] #1594 closed, assigned to distantnative

[2022-03-21 13:21] distantnative opened #1684 "Plugin directory 2.0"
Collecting various issues regarding plugin directory for better overview:

[code]

[2022-03-21 13:25] distantnative commented on #1543
@lukasbestle true, I'm just not sure how - I think this already causes some headache with users. We should find a way/words that convey the difference easily

[2022-03-21 13:25] #1591 closed, assigned to distantnative

[2022-03-21 13:41] distantnative commented on #1519
I tried: https://github.com/getkirby/getkirby.com/commit/294d34be4e74df66166aec38b31caebfcddb8633
However, I still get the content reflow. Any ideas?

[2022-03-21 14:48] #1513 closed, assigned to distantnative

[2022-03-21 18:28] distantnative opened #1687 "Fiber dialogs `this.$dialog` docs"
https://github.com/getkirby/kirby/pull/4090

[2022-03-21 18:30] distantnative commented on #1646
Maybe a bit embarrassing that I only realise this now, but: https://getkirby.com/docs/reference/plugins/internals/data

I'll add your example though.

[2022-03-21 18:34] #1646 closed, assigned to nobody

[2022-03-21 19:08] distantnative opened #1689 "3.6.3 docs"
- [x] new `url` option config values (@bastianallgeier)
https://github.com/getkirby/kirby/issues/4198

[2022-03-21 19:10] #1357 closed, assigned to distantnative

[2022-03-21 19:17] #1574 closed, assigned to distantnative

[2022-03-22 09:19] #1689 closed, assigned to nobody

[2022-03-22 20:14] distantnative opened #1691 "3.6.4 docs"
- [x] Multiple extends in a blueprint (@afbora)
https://github.com/getkirby/kirby/pull/4218
[code]

[2022-03-23 11:11] #1592 closed, assigned to distantnative

[2022-03-29 13:58] iskrisis opened #1695 "Kirby directory - kirby3-plausible"
New directory has this https://getkirby.com/plugins/rowdyrabouw/plausible plugin shown quite prominently. But it doesn't work with Kirby 3.6+ and it's not on packagist so it's not composer compatible.

Ehm, cough... https://github.com/floriankarsten/kirby-plausible (yeah i know how it looks like lol but really i would rather sunset this)

[2022-03-29 14:30] iskrisis commented on #1695
Well that was fast https://getkirby.com/plugins/floriankarsten/plausible sorry i had too much coffee today!

[2022-03-29 14:30] #1695 closed, assigned to nobody

[2022-03-29 20:50] texnixe opened #1697 "Titles with long words overflowing on mobile due to `widont()` method"
Example result:

![IMG_3217](https://user-images.githubusercontent.com/5312492/160704420-61a1a88e-0255-4abe-86e6-10b8e25352f0.png)

[2022-03-30 10:04] nilsmielke opened #1698 "Erroneous link in Cookbook article “Virtual pages from image gallery”"
**Issue with Reference**
The “Virtual pages guide” link in the *Further Reading* section of https://getkirby.com/docs/cookbook/templating/virtual-pages-image-gallery#further-reading takes me to the homepage.

**Expected**
The link should take me here, I guess: https://getkirby.com/docs/guide/virtual-pages

[2022-03-30 10:25] #1698 closed, assigned to nobody

[2022-03-31 09:09] S1SYPHOS opened #1705 "`$block` object missing from reference"
.. under headline `Objects` there's `$blocks`, but no `$block` in the sidebar (it exists, but isn't displayed) - [here](https://getkirby.com/docs/reference/objects) it does, though

.. looking at the files, there's no quick way for me to figure out a PR - sorry!

[2022-03-31 10:02] afbora commented on #1705
It would be difficult to list them all on the sidebar. I think that's why only frequently used are listed in the sidebar. `$block` object is https://getkirby.com/docs/reference/objects/cms/block

[2022-03-31 10:26] S1SYPHOS commented on #1705
In this case, it would be mirror-imaged to the plural `$blocks`, but if that doesn't convince you, then closing this is alright :+1:

Thanks @afbora for the clarification, really appreciated

[2022-03-31 11:06] texnixe commented on #1705
I'm also missing  $block and $layout in the sidebar, though. I think they are needed rather often.

[2022-03-31 12:13] #1705 closed, assigned to nobody

[2022-03-31 12:13] distantnative commented on #1705
✅ Added them (left them out when we launched cause I never found the actual methods that insightful)

[2022-03-31 15:29] #1691 closed, assigned to nobody

[2022-03-31 20:15] lukasbestle commented on #1543
We could use a more generic tag like:

[code]

Open for a better name. :)

[2022-04-09 14:38] texnixe opened #1716 "Add option to remove top margins from figure elements in columns (Kosmos issues)"
<img width="880" alt="Bildschirmfoto 2022-04-09 um 16 38 23" src="https://user-images.githubusercontent.com/5312492/162578870-e2abb1e2-318e-46eb-9210-f15c9a713028.png">

[2022-04-11 12:30] bnomei opened #1721 "readme: tip to exclude pages via model"
maybe add to the readme that its also possible to overwrite `$page->isCacheable()` in a model to control the behaviour dynamically instead of adding to many `if` clauses to the config.
https://getkirby.com/docs/reference/objects/cms/page/is-cacheable
https://getkirby.com/docs/guide/cache#caching-pages

[2022-04-11 15:36] iskrisis commented on #1721
This is super neat trick! I had no idea about this. This should be surely in the guide. But it's not really about this driver but all cache drivers? Maybe this issue should be ticket getkirby.com repo.

[2022-04-11 17:51] #1721 closed, assigned to nobody

[2022-04-14 08:04] manuelmoreale opened #1724 ""Search By" text wraps on Safari"
Very minor issue but on Safari Mac (I'm using 15.4) the "Search by" next to the Algolia logo spans over two lines instead of one
The screenshot should be quite clear

**Screenshots**
![Screenshot 2022-04-14 at 10 00 23 AM](https://user-images.githubusercontent.com/1738077/163341427-59ce0aa3-dbb7-4ae0-b7de-27f45a1deda9.png)

[2022-04-18 15:43] adamkiss opened #1729 "Reference: `k-date-time-input` doesn't exist anymore (in 3.6.4+ at least)"
**Issue with Reference**
[date time input](https://getkirby.com/docs/reference/plugins/ui/date-time-input) component referenced in the documentation doesn't seem to exist anymore, at least the getkirby/kirby repository link goes to 404

**Expected**
I'd expect the reference to be removed

[2022-05-02 11:11] LeBenLeBen opened #1739 "UI Kit: list possible values for enum-type props"
**Issue with Reference**
In general, in the [UI Kit](https://getkirby.com/docs/reference/plugins/ui) documenting Vue components, props that accept only specific values don’t have the actual values documented.

For example, the [item](https://getkirby.com/docs/reference/plugins/ui/item) has a prop `layout` with the default `list` value specified, but it doesn’t tell us that it accepts `cards` and `

[2022-05-04 09:06] lukasbestle commented on #1739
For those props that take a fixed set of string values, we could change the type from `string` to `'list'|'cards'|'cardlets'`. This would be more specific and also more correct (the prop cannot take any ordinary string).

@distantnative Would that work from the technical perspective? Maybe we need to add support for this to the color highlighter, but I wonder whether this would break other tooling

[2022-05-04 16:07] distantnative commented on #1739
@lukasbestle I don't think we can but need to check. I think this is taken directly from the Vue props definition. However by adding `@values `list`|...` we can annotate this and our website will already pick it up as `Examples: ...`. So I think that's the best way for now and just missing here (we already use this in some places).

[2022-05-07 07:18] distantnative opened #1742 "Slug field: docs for wizard option"
[code]

[2022-05-07 08:08] #1742 closed, assigned to nobody

[2022-05-07 08:09] texnixe commented on #1742
91c8b79970f37ce8692e4815ffdc6fd146eb9238

[2022-05-07 11:41] lukasbestle commented on #1739
Fixed by https://github.com/getkirby/kirby/pull/4302.

[2022-05-07 11:41] #1739 closed, assigned to lukasbestle

[2022-06-16 20:47] bryantwells opened #1760 "k-ratio tag name is misspelled"
Spelling error on UI Kit documentation.
[code]
Should read...
[code]
[Link](https://getkirby.com/docs/reference/plugins/ui/aspect-ratio)

[2022-06-16 22:01] texnixe commented on #1760
Should actually be `<k-aspect-ratio>` and the example is already fixed in the source code, but still wrong in the index.json.

@lukasbestle Looks like this file is not updated automatically?

[2022-06-17 07:20] distantnative commented on #1760
Pinging @bastianallgeier here - I was under the impression each release would trigger the json file to be created newly and uploaded to our server. Probably not yet functioning?

[2022-06-17 10:57] jklue opened #1761 "add alt to (image: ...) attribute"
**Issue with Reference**
On the kirbytext image page (https://getkirby.com/docs/reference/text/kirbytags/image), alt is not listed as an image attribute, although it is referenced later in the documentation

**Expected**
Where the image attributes are listed, include "alt." So the full list would be "alt, caption, class, link, title."

**Screenshots**
![image](https://user-images.githubusercontent

[2022-06-17 11:32] texnixe commented on #1761
There are in fact actually even more attributes missing, this is the full list:

[code]
The reason they are missing is that the getkirby.com code overwrites the default `image` tag 🙈 , thus messing up with the automatic attribute generation.

@bastianallgeier, @distantnative What would be the best way to fix this? Remove attributes from custom tag? Make sure the methods use the original tag?

[2022-06-17 21:12] distantnative commented on #1761
This is a bug. The reference should actually always load the original methods etc - no matter whether the getkirby.vom Site overwrites anything or not

[2022-06-18 21:38] texnixe commented on #1761
In this particular case ifthappens because the code calls `KirbyTag::$types[$this->name()]['attr']` and since types contains the merge type from core and plugins, it doesn't work as expected. So maybe we should use `$kirby->core()->kirbytags()` here instead.

[2022-06-19 14:01] #1761 closed, assigned to distantnative

[2022-06-27 14:37] nilshoerrmann opened #1770 "Extensions sorting"
The [extensions overview](https://getkirby.com/docs/reference/plugins/extensions) in the docs seems to be sorted by URL and not by title. This leads to "Panel Created" being sorted under C (like "created") instead of P (like "Panel Created").

**Expected**
All overviews should be sorted by visible title.

**Screenshots**
<img width="1261" alt="grafik" src="https://user-images.githubusercontent.com

[2022-06-27 16:24] #1770 closed, assigned to nobody

[2022-06-27 17:49] nilshoerrmann commented on #1770
Thanks!

[2022-06-29 20:43] afbora opened #1781 "Document block label usage"
[code]

[2022-06-29 21:24] afbora commented on #1781
✅ with #1782 Thanks @texnixe

[2022-06-29 21:24] #1781 closed, assigned to nobody

[2022-06-30 15:09] distantnative opened #1783 "3.7.1 docs"
- [x] https://github.com/getkirby/kirby/pull/4445
- [x] https://github.com/getkirby/kirby/pull/4474 @lukasbestle
- [x] https://github.com/getkirby/kirby/pull/4475 @lukasbestle

[2022-07-02 10:21] texnixe opened #1786 "Fix h5 heading level margins"
h5 bottom level margins larger that top level margins

<img width="575" alt="Screen Shot 2022-07-02 at 12 21 18" src="https://user-images.githubusercontent.com/5312492/176996501-e6f3dc5c-e754-4083-8ce2-b42d4cbd0789.png">

[2022-07-04 12:19] texnixe opened #1787 "Update plugins to be PHP 8.1 compatible"
**Issue with Reference**

**Expected**

**Screenshots**

[2022-07-12 19:34] #1783 closed, assigned to nobody

[2022-07-15 12:10] fabianmichael opened #1796 "API endpoints overview does not include HTTP method"
The current API endpoint overview lists different methods for endpoints, but without mentioning the HTTP method. This makes lists a quite confusing (see screenshot).

**Expected behavior:** Methods with the same endpoint (e.g. PUT, GET, POST etc.) Should be listed on the same page or the overview should add a hint about the correct HTTP method.

![Bildschirmfoto 2022-07-15 um 12 12 37](https://use

[2022-07-18 16:58] splorp opened #1799 "Entries missing (and misnamed) in Validators sidebar navigation"
**Issue with Reference**

Several validators listed on the main [Validators](https://getkirby.com/docs/reference/system/validators/) page are missing from the sidebar navigation when you click through to an entry. For example:

https://getkirby.com/docs/reference/system/validators/contains

Validators listed on the main Validators page, but missing from the sidebar navigation are:

`accepted`
`con

[2022-07-19 06:17] #1799 closed, assigned to nobody

[2022-07-19 21:17] splorp commented on #1799
Thank you, Lukas.

[2022-07-20 07:26] lukasbestle commented on #1799
Thank you Sonja. 👍

[2022-08-14 13:21] lukasbestle opened #1812 "3.7.4 docs"
- Plugins `index.dev.mjs` https://github.com/getkirby/kirby/pull/4541

[2022-08-21 20:04] lukasbestle commented on #1812
✅ On my local branch for the 3.7.4 release

[2022-08-21 20:04] #1812 closed, assigned to nobody

[2022-08-29 00:17] miragecraft opened #1816 "TXT should not be shown as a supported file type"
On the page: https://getkirby.com/docs/guide/content/files

Under **Supported File Types**, `txt` is listed as a supported file type under `Documents`, but it's actually NOT supported because Kirby itself uses txt files for page data.

I had to find this out here: https://forum.getkirby.com/t/unable-to-upload-txt-file-types/24381

[2022-08-29 00:24] miragecraft opened #1817 "Document how file upload process non-ASCII filenames"
Had to find this out the hard way, apparently when uploading files containing East Asian characterse Kirby will silently strip them all out.

This leads to weird error message of `You are not allowed to upload invisible files` if you upload something like `日本語.pdf`, because it becomes `.pdf` due to the character stripping (files starting with dot are invisible).

In addition, all accents/umlauts (

[2022-08-29 05:31] distantnative commented on #1817
Besides documenting it, maybe we could also take the ascii converting rules of the current language into consideration. Might be a sensible assumption that uploaded filenames are in the same language and thus converting to ascii would fail in less cases.

[2022-08-29 05:36] lukasbestle commented on #1816
As far as I remember, `txt` files are allowed as long as the content extension is configured to something else (e.g. `md`). We need to verify and document this.

[2022-08-29 05:40] distantnative commented on #1816
We should also look into if we could make the error message more specific, explaining why this one isn't allowed.

[2022-09-28 08:26] afbora opened #1837 "Needed new plugin PR template"
Needed new plugin issue template to keep consistency for 3.8

https://github.com/getkirby/getkirby.com/issues/new/choose

[2022-09-29 12:27] seehat opened #1838 "Plugin url change for mgfagency/twig"
Please change the plugin url from `mgfagency/twig` to `amteich/twig`.

[2022-09-29 12:27] seehat opened #1839 "Plugin url change for mgfagency/twig"
Please change the plugin url from `mgfagency/twig` to `amteich/twig`.

[2022-09-29 12:36] afbora commented on #1839
✅ https://getkirby.com/plugins/amteich/twig

[2022-09-29 12:36] #1839 closed, assigned to nobody

[2022-09-29 12:37] #1838 closed, assigned to nobody

[2022-09-29 13:06] seehat opened #1840 "Plugin url changes for mgfagency/twig"
Please change the plugin url from `mgfagency/twig` to `amteich/twig`.

[2022-09-29 13:07] #1840 closed, assigned to nobody

[2022-09-30 05:49] distantnative commented on #1837
How should such an issue template look like?

[2022-09-30 07:13] afbora commented on #1837
These are the only ones I can think of for now. Maybe like that:

### I've checked followings for my plugin

- [ ] Plugin name (`Kirby::plugin('vendor/name', []);`) is same with getkirby.com (`getkirby.com/plugins/vendor/name`) is same
- [ ] composer.json version exists
- [ ] GitHub latest tag name and composer.json version is same

[2022-10-03 14:41] #1816 closed, assigned to nobody

[2022-10-03 20:16] lukasbestle commented on #1837
@afbora This would be more for a PR template, right?

[2022-10-04 07:20] afbora commented on #1837
@lukasbestle Ah yes, for PR template.

[2022-10-06 07:03] afbora commented on #1837
This task has been shelved for now because the PR template could not be selected.

[2022-10-06 07:03] #1837 closed, assigned to nobody

[2022-10-17 11:36] chrfickinger opened #1848 "Upgrade kit to latest Kirby version in `Creating pages from frontend` cookbook"
The downloadable example files from the cookbook recipe _"Creating pages from frontend"_ are no longer working with the latest kirby version. The following error message is displayed:

`Deprecated: Return type of Kirby\Toolkit\Iterator::current() should either be compatible with Iterator::current(): mixed, or the #[\ReturnTypeWillChange] attribute should be used to temporarily suppress the notice

[2022-10-17 14:18] afbora commented on #1848
I've downloaded the `eventkit` and upgraded to 3.8.0. Works great for me. At what step are you getting this error?

[2022-10-18 08:00] chrfickinger commented on #1848
Seems it was my fault. I can't reproduce it, but it is running now. Issue can be closed.

[2022-10-18 08:05] afbora commented on #1848
Thanks for testing. Lets keep open for now to upgrade the `eventkit`

[2022-10-18 23:48] samzzi opened #1849 "Can we create a new plugin category for kirby cli plugins?"
To give all the new cli plugins that we will make a warm and comfy home 😊

[2022-10-19 20:56] Small-Systems opened #1850 "Page section sortBy"
The kirby docs state that:

[_The sortBy option will automatically switch off manual sorting._](https://getkirby.com/docs/reference/panel/sections/pages#sorting__sortby)

This will disable drag and drop, however the position option will still be visible in the page status dialog box:

<img width="505" alt="Screenshot 2022-10-19 at 22 52 32" src="https://user-images.githubusercontent.com/2116283/19

[2022-10-19 21:02] texnixe commented on #1850
If you use standard numbering, this is independent of the `sortBy` option, as this only refers how the items are displayed in the Panel.

[2022-10-20 18:30] afbora opened #1854 "Add `content.uuid` option documents"
Related PRs:
- https://github.com/getkirby/kirby/pull/4755
- https://github.com/getkirby/kirby/pull/4790

Related doc page: https://getkirby.com/docs/reference/system/options/content

[2022-10-20 23:50] trych opened #1855 "Non-matching description of code snippet in sort recipe"
https://github.com/getkirby/getkirby.com/blob/9e4b2b75544ca9c0d2632cc9c7f414f6333b9a9a/content/docs/2_cookbook/2_content/0_sorting/cookbook-recipe.txt#L43

In the sort recipe, there is a paragraph that does not really match the code snippet shown above it.

There is no `date` parameter in the code snippet (but a function instead) and it's not the `sort()` method that is used, but the `sortBy()` me

[2022-10-21 20:30] #1854 closed, assigned to afbora

[2022-10-24 15:36] #1848 closed, assigned to afbora

[2022-10-29 01:01] vincentrouleau opened #1865 "Add a WebManifest to allow adding to homescreen."
Adding a simple WebManifest file to the site would enable adding to homescreen (at least on Android) in standalone mode (no address bar) and with a cool little loading screen.

I personally always keep my documentation at hands and this would offer a cleaner and more effective way to access the docs on the go.

Here's the how-to:
https://developer.mozilla.org/en-US/docs/Web/Manifest

If you guys t

[2022-10-29 03:20] distantnative commented on #1865
Not sure if we see ourselves the need to direct our time at this but I'd think we're happy to take a PR.

[2022-10-29 03:20] distantnative commented on #1865
Not sure if we see ourselves the need to direct our time at this but I'd think we're happy to take a PR.

[2022-10-29 10:46] vincentrouleau commented on #1865
Of course!

[2022-10-29 11:44] vincentrouleau commented on #1865
#1866

[2022-11-12 22:51] texnixe opened #1881 "Update content file clean-up recipe"
- [x] Ignore UUID field
- [ ] script will copy all fields for translated languages even if the value is the same. not sure if thats intended.

https://getkirby.com/docs/cookbook/extensions/content-file-cleanup

[2022-11-13 17:13] texnixe opened #1883 "Update Virtual pages guide"
Add UUID to content to prevent pages being created in the file system

https://discord.com/channels/525634039965679616/525641819854471168/1030095535236980746

[2022-11-13 17:14] adamkiss opened #1884 "Update Virtual pages guides with UUID warning"
**Issue with Reference**
Any virtual pages guide/docbook is currently broken, in the sense that if a programmer doesn't add a **self generated uuid** to the content array of the virtual page, kirby generates the uuid and that triggers the creation of an actual page - folder and file in the filesystem.

**Expected**
"Since 3.8.1: You must include a 'uuid' in your content file"…

**Additional note**

[2022-11-13 17:17] texnixe commented on #1883
Closing this in favor of https://github.com/getkirby/getkirby.com/issues/1884

[2022-11-13 17:17] #1883 closed, assigned to texnixe

[2022-11-13 17:17] texnixe commented on #1884
Add UUID to content to prevent pages being created in the file system

    Yes, you should either be able to add a UUID already to the content or you can use a Model class and return null on UUID

https://discord.com/channels/525634039965679616/525641819854471168/1030095535236980746

[2022-11-14 19:33] texnixe commented on #1884
@adamkiss, I cannot reproduce this issue in the Plainkit you provided for testing, but `Uuid::generate()` or Str::random(16)` (which is used internally in the `Uuid::generate()` method) work fine.

[2022-11-14 23:11] adamkiss commented on #1884
@texnixe You're right, `Uuid::generate()` probably works.

To explain - I first tried generating the `uuid` inside the page array, not the content array, so perhaps there was some timing issue where I reloaded before the the correct version (uuid generated in the content array) was saved or something, so the code that actually run had in fact uuid in the wrong place. This confused me into thinking

[2022-11-15 13:18] texnixe opened #1887 "Add link to license hub in footer?"
Currently, you can only find the link here: https://getkirby.com/docs/guide/quickstart#purchase-license-register-your-installation

[2022-11-15 13:23] texnixe opened #1888 "Add Mastodon link on homepage/community menu"

[2022-11-15 19:22] adamkiss opened #1889 "Releases: there's no way to get to major release page other than remember / guessing / knowing the number / URL"
getkirby.com/releases is both redirect to github releases and a parent for "major release" release pages you did for 3.8, 3.7, etc.

From time to time (and for some tiny features, forever), the release pages (and links from them) are the best source for double checking docs, additional notes, etc.

Consider adding index, or "major release" page links to navigation, or something.

Also: the release

[2022-11-15 23:06] texnixe commented on #1889
There is already a PR: https://github.com/getkirby/getkirby.com/pull/1718

[2022-11-16 13:04] bastianallgeier commented on #1887
Where do you think it would fit best? Resources?

[2022-11-16 13:07] texnixe commented on #1887
@bastianallgeier Would be best next to `licenses`, but then it doesn't really fit in the Kirby category. So yes, Resources would be second best.

[2022-11-16 13:10] #1888 closed, assigned to nobody

[2022-11-16 13:12] #1887 closed, assigned to nobody

[2022-11-16 14:14] texnixe commented on #1888
@bastianallgeier Shouldn't it be here as well?
<img width="498" alt="Screenshot 2022-11-16 at 15 13 32" src="https://user-images.githubusercontent.com/5312492/202203455-9c3b7b8e-80c8-405c-b4d7-59a28c62e826.png">

[2022-11-17 08:52] nilsmielke opened #1890 "False ID on article h2"
**Issue with Reference**
In the article https://getkirby.com/docs/cookbook/templating/php-templates position 07 in the ToC (“Use <?= instead of echo”) links to a non-existent ID (“use-instead-of-echo”).
The ID of the relevant section is currently “use”.

**Expected**
ID of the section should be changed to “use-instead-of-echo”.

[2022-11-22 13:04] texnixe opened #1892 "Add IntlDateFormatter requirement in date handler options"
https://getkirby.com/docs/reference/system/options/date

[2022-11-24 12:27] afbora opened #1893 "Docs 3.8.3"
- [x] New hook: `page.render:before|after` https://github.com/getkirby/kirby/pull/4862
- [x] New hooks: `language.*:before|after` https://github.com/getkirby/kirby/pull/4861
- [x] New option uuid option: https://github.com/getkirby/kirby/pull/4868

[2022-11-24 21:27] #1890 closed, assigned to nobody

[2022-11-25 09:51] sebastiangreger opened #1894 "Unclear distinction `label` vs. `headline` in pages section doc"
**Issue with Reference**
There seems to be some mixup between `label` and `headline` in the examples under https://getkirby.com/docs/reference/panel/sections/pages#headline

**Expected**
From reading that chapter, I should be able to understand the difference between `label` and `headline`; examples in chapter `headline` should be consistent and not demonstrate `label`.

[2022-11-25 10:57] texnixe commented on #1894
Thanks @sebastiangreger Those were some leftovers from the old syntax, headline is still valid, though, for the moment.

[2022-11-25 12:42] #1894 closed, assigned to nobody